[2020-04-05 05:22] johnr54321 opened #119 "Get Bike and Pedestrian Traffic Data for GWNC"
# Description
Dan Kegal (Neighborhood Council Member on GWNC) is looking for the data below to help consider areas to prioritize pedestrian and bike improvements

## Action Items
- [ ] Determine if we can take on project
- [ ] Get Access to Needed Data
- [ ] Determine Best way to display this data
- [ ] Ryan Swan to follow up with Customer copying 311-Data@hackforla.org

## Resources
- [ ] Bike an

[2020-04-08 03:07] ryanmswan opened #108 "CoP: Data Science: Pedestrian and Bike Traffic Analysis"
# Description
Stems from request for https://github.com/hackforla/311-data/issues/504 (**dead link**)

## Action Items
- [x] Identify datasets relevant to pedestrian and bike traffic in Los Angeles county
- Perform EDA on data
   - [x] Generate data dictionary
   - [x] Provide control script for merging of data sets
   - [x] Data Cleaning
- [x] Create map visualizations to demonstrate the volume o

[2020-04-22 02:31] ryanmswan opened #107 "CoP: Data Science: Analyze correlations between metro locations and 311-data requests"
### Overview
Investigate whether there are meaningful trends associated with metro stops and metro lines with regards to requests tracked by 311-data in LA County.

## Action Items
- [x] Define requirements for 311 data (adding notes to the resources section and discussing at the Data Science CoP meeting
   - [x] Do you need a one-time or ongoing dump of the data?
   - [x] Do you need subset of da

[2020-04-22 04:01] ryanmswan opened #106 "Investigate crucial health service availability within the county of Los Angeles"
# Description
Investigate differences in availability of crucial health services and resources in the city and county of Los Angeles.

## Action Items
- [ ] Define "crucial" health services. Should include at least hospitals, urgent care clinics, family health clinics, reproductive clinics, PCPs, dialysis centers, etc.
- [ ] Find available data sources regarding access to healthcare and add to Res

[2020-07-01 16:57] ExperimentsInHonesty opened #2 "Create CoP card"
### Overview
Provide collateral for the HackforLA website.  This will be very similar to the project cards, but will be specific to Communities of Practice (Data Science, Ops, etc).

### Action Items
- [ ]   Gather items
  - [ ]  600 x 400 image
     - [ ]  Alt image text
  - [ ] 1500 x 700 hero image (please do not put CoP title on hero image)
     - [ ]  Alt image text
  - [ ]  Name of project

[2020-07-01 16:59] ExperimentsInHonesty opened #3 "Add CoP logo or image to your main repository"
### Overview
By adding the project's logo/image to your project's primary repository, when people add the link to the repository in LinkedIn or Slack, or other social media it will automatically use the image as well as the description, improving the link's chances of getting clicked on.

### Action Items
Add project's logo/image to your primary Github repository using the instructions below.  You

[2020-08-12 01:58] ryanmswan opened #12 "LA Department of Transportation Meeting 8/6/2020"
# Meeting Notes

## DoT Ongoing Work
* Code the Curb Initiative
  * Projects focused on creating digital curb inventory for feeding various initiatives related to curb space usage
  * Pilot projects in process involving ingestion and tagging of image data (detection of edge lines a major focus)
  * Lat/Long tagged data related to curbside features as a byproduct of feature installation procedures

[2020-08-12 02:03] ryanmswan commented on #12
Created folder and readme stub

https://github.com/hackforla/data-science/tree/master/mgs

[2020-08-31 22:01] ryanmswan commented on #3
@salice We should probably get around to discussing this at this week's meeting. If we can come up with a logo idea, we might be able to get something together relatively quickly.

[2020-12-18 20:29] ExperimentsInHonesty opened #22 "CoP: Data Science: project to visualize the cities in LA county that offer public 311 data sets and how comprehensive they are"
### Overview
Hack for LA Leadership wants to publish a map to show the amount of 311 data available in the Greater LA area

### Audiences for the map and chart
- Public: so that citizens in the Greater LA Metro Area can see which governments are sharing data
- 311 team: They will be using the data to see if adding 311 data sets from other cities is part of their product roadmap.
- general internal

[2020-12-18 20:51] ExperimentsInHonesty commented on #22
@ryanmswan I assigned this issue to you to review.

[2021-01-21 23:42] sayalikotkar opened #27 "Collabathon Analytics"
### Overview
We need to produce the analytics for the last collabathon event (November 2020)

### Action Items
- [x] Connect with  Creighton Ashton to get access to the scripts that he used to do the analytics.
- [x] Discuss with him if we should host this on the climate repo or make a new one
- [x] Reach out to Sofia Alice for help if needed
- [x] get the scripts working locally
- [ ] Bonnie will

[2021-02-21 03:16] ExperimentsInHonesty opened #24 "Do you have write access to the Data Science community of practice repository?"
### Overview
We want to make sure that all Data Science volunteers have write access to their community of practice repository so that they self assign issues.

### Action Items
- [ ] Check to see if you have write access
- You have write access If you see the gear on the top right next to Assignees
![Screen Shot 2021-02-20 at 6 42 04 PM](https://user-images.githubusercontent.com/37763229/10861397

[2021-02-22 18:56] ExperimentsInHonesty opened #25 "Data Science confirmation of volunteer assignment letter templates"
### Overview
Issue that contains possible templates for us to confirm your volunteer assignment and how to use them.

### Purpose
These templates are provided so that if you are in need of a letter, you can look at letters we have used in the past and if one of them suits, we will produce a new one for you as long as what we are attesting to is correct.

### Action Items
- [ ] If you want us to ma

[2021-02-22 20:42] CreightonAshton commented on #24
Creighton Ashton, @CreightonAshton, I'm in!

[2021-02-26 04:28] ExperimentsInHonesty opened #26 "SEIE Survey Analysis"
### Overview
We need to report on our progress for our partner at the Department of Neighborhood Empowerment

### Action Items
Phase 1--Completed by Sathwik:
- [x] NLP engineering/analysis on a large survey featuring free text columns.
- [x] Run TF-IDF analysis
- [x] create word clouds
- [x] Create a presentation to show data to DONE and neighborhood council members. Tooling could include scikit-l

[2021-02-26 04:30] ExperimentsInHonesty commented on #26
@rinkalagarwal can self assign when she has accepted the github invite.

[2021-02-26 04:31] ExperimentsInHonesty commented on #26
@sathwikkes Please provide process update
1. Progress
2. Blockers
3. Availability
4. ETA for total completion (if possible), otherwise indicate when you will be delivering the next progress report .

[2021-02-26 04:49] Safox1 commented on #27
Sure I am available at that time and I need the data sent to me to actually get started.

[2021-02-26 05:30] sathwikkes commented on #26
1. Progress: loaded survey data and performed basic exploratory data analysis such as bar plots and word clouds, identified word pairings using CountVectorizer
2. Blockers: need to preprocess and clean text to generate better results with less noise, lowercase all text to stay consistent
3. Future: standardizing text data, removing irrelevant information, produce keyword/name recognition

screensh

[2021-03-01 23:29] heatherhlustig commented on #27
Looks like per note from @Safox1:

**_**> 1. I connected with Sofia and Creighton to go over what are the steps to analyze the data. Creighton said creating a repo is fine.**_**

[2021-03-02 17:52] heatherhlustig commented on #27
new repo created, and scripts working locally

[2021-03-12 04:24] ExperimentsInHonesty opened #29 "**Role**: Data Scientist"
**Project Name**: Undebate

**Volunteer Opportunity**: The goal of the project is to develop consensus questions to be answered by public figures. Problem: Based on a vector of groupings of subtopics submitted by many users, find the ideal grouping of overarching topics and select the four most highly weighted topics. Skillsets: Algorithms (recommender, ranking, graph-based). Technologies: Numpy,

[2021-03-12 04:25] #29 closed

[2021-03-17 06:22] Civic-Opportunity-Project opened #30 "Review new Recruiting Pipeline channel"
[Pipeline sheet](https://docs.google.com/spreadsheets/d/1yFCDM50HiaOICZWWQI4vT3TXrqd_QRMm2uEboN38iQs/edit)

- [ ] Review Value in column D (Value in column C) in Row 1
- [ ] Set Display value (column L) to TRUE or FALSE

[2021-03-17 06:23] rjdoria commented on #30
Zapier test complete

[2021-03-17 06:23] #30 closed

[2021-03-18 05:06] Civic-Opportunity-Project opened #31 "Review new Recruiting Pipeline channel"
[Pipeline sheet](https://docs.google.com/spreadsheets/d/1yFCDM50HiaOICZWWQI4vT3TXrqd_QRMm2uEboN38iQs/edit)

- [ ] Review (The channels below have been reviewed) (Slack Workspace) in Row 2
- [ ] Set Display value (column L) to TRUE or FALSE

[2021-03-18 05:09] rjdoria commented on #31
Zapier test complete. Pipeline doc now live.

[2021-03-18 05:09] #31 closed

[2021-03-26 03:19] ExperimentsInHonesty commented on #26
@RinkalAgarwal @sathwikkes
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-03-26 03:24] ExperimentsInHonesty commented on #27
@heatherhlustig are you waiting for me to connect you with the person with the new data?  if yes, please let me know, otherwise
Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-03-26 06:13] sathwikkes commented on #26
1. Progress: standardized/normalized text, performed tf-idf vectorizer on a sample column, removed irrelevant content, touched on entity recognition, added more visualization
2. Blockers/Future: updating word clouds with acquired weights, performing sentiment analysis, documenting results
3. ETA/Availability: next data science meeting

[2021-03-26 15:19] heatherhlustig commented on #27
@ExperimentsInHonesty yes, please! Sent you a message on slack.

[2021-04-26 18:08] ryanmswan opened #36 "LAANE Data Cleaning and Analysis"
**Data Scientist**

**Project Name:** LA Alliance for a New Economy, Housing Project

**Volunteer Opportunity:** Assist local nonprofit by joining several datasets that rely on physical street address as a primary identifier. After joining these data sets together, display on a map localized by approximate region the density of AirBnB rental properties in relation to properties cited for complaint

[2021-04-28 07:14] sathwikkes commented on #26
1. Progress: created, finished, and workshopped the presentation
2. Blockers/Future: waiting on client availability
3. ETA/Availability: next data science meeting

[2021-04-29 05:05] KarinaLopez19 commented on #36
Just a quick update:

Albert and I are working to combine the airbnb listing dataset with permit dataset from the city of LA . Some complications we are handling include:
- There are no shared columns in both the listing or permit datasets
- Proximate coordinates are provided for listings while full addresses are provided for permit data

Currently, we are trying to see if there are "obvious" cita

[2021-05-01 02:28] AlbertUlysses commented on #36
I added a new folder "airbnblistings" where Karina and I can upload our files related to the project. I created two functions that are going to help with data cleaning.

[2021-05-26 23:05] KarinaLopez19 commented on #36
Met with Jon to do final review of columns to keep vs. remove. Jon is onboard with having a SQLite database and is willing to learn SQL. Currently working on designing the SQLite database with Albert.

[2021-06-10 20:36] AlbertUlysses commented on #36
First iteration design is complete, will do some adjustments then  start writing the scripts to transformer the data.

[2021-06-11 03:08] KarinaLopez19 commented on #36
Jon has been updated on progress and Albert and I will be meeting tomorrow to discuss next steps.

[2021-06-22 08:49] KarinaLopez19 commented on #36
Organized a sheet containing new table and column names following data warehouse schema to facilitate data transformation. Beginning data dictionary to pass along to Jon following completion of data warehouse. I will be taking a short break from 06/26-07/06 and have communicated this to Jon + Albert. Albert and I plan to complete data transformation scripts starting 07/07.

[2021-06-25 20:44] AlbertUlysses commented on #36
Here are some updates/milestones.

For the next week and a half, Karina and I will be taking a break - we'll be meeting again starting on July 7th. I'll still be around if anyone needs anything, so feel free to email me.

Milestone will be as follows:

    By the end of next week (July 2nd), I'll have a finalized version of our data warehouse layout.
    Starting on July 7th and until approximatel

[2021-07-02 03:41] ryanmswan opened #44 "Builtwith API Project"
### Overview
**Project:** Open Community Survey

**Volunteer Opportunity:** Create scraper to get information from builtwith.com on technologies used by neighborhood council websites. Organize the data (create categories for the tech), Automate scrape job to run periodically. Additionally, we want to display this information with a dashboard (see Google Data Studio Dashboard linked below under "Pr

[2021-07-02 03:46] ryanmswan commented on #44
[Target Website List Here](https://docs.google.com/spreadsheets/d/1V5cOCwABGNsvp715EL-SIRklcknEJB-hj4Mtjl8zMpw/edit#gid=1687401058)

[2021-07-05 20:47] ExperimentsInHonesty commented on #44
@ryanswan @salice @JessicaFB @poorvi4 I forgot to mention that @mattyweb has a report tool that he has setup on our AWS and it might be a good place to dump all this data (from the Comparative analysis of features and then the technologies from builtwith api), then we can define the types of reports we want to display and it would allow people to look at a single NC, as well as aggregate stats, et

[2021-07-16 03:27] ryanmswan opened #45 "CoP: Data Science: Native Land Attribution"
### Prerequisite(s)
If you would like to work on this issue, please add a comment below and include the following information:
- Your name
- How many hours you can commit to working on this in the next week (minimum of 2)
- Commit to providing an update with a comment before the next community of practice meeting

For example:
- John Doe
- I can commit to working on this issue 3 hours in the follo

[2021-07-16 03:27] ryanmswan commented on #45
**BLOCKED PENDING DATASET DELIVERY**

[2021-07-16 03:50] ryanmswan opened #46 "Potential Tutorials and Guides"
### Overview
Guides and tutorials to be produced for onboarded contributors to work on while waiting for project assignment.

### Action Items

- ETL/Data Cleaning: Pandas, statsmodels, scikit-learn
- Data Visualization: Pandas, Seaborn, Matplotlib, Tableau
- Data Engineering: SQL,
- Docker: installation (potential standalone guide), building containers, running python from within a container
- We

[2021-07-22 21:55] AlbertUlysses commented on #36
Working through assessor data, we did some ERD modifications and discussed how to handle unique entries.
Notes and Rough draft of blog posts have started, but we are not prioritizing it because we are trying to focus our extra time on the first deliverable.

[2021-08-04 04:37] AlbertUlysses commented on #36
Quick update:
reworked the project layout and added assessor transformations along with Tests. Going to try to work on several more datasources by the end of the week,and need to do some re-factoring, by then I'll have a better idea of a new time frame for the first deliverable. I will contact Jon in an email and include everyone by the end of week.

[2021-08-04 23:37] AlbertUlysses commented on #36
renamed the project sub-folder from Airbnb Listings to LAANE.
Finished Exempt table transformations.
roughly 8 tables left.

[2021-08-06 04:06] AlbertUlysses commented on #36
Worked on tot, created a function TODO: finsih tot by friday (tomorrow) and start on the next table.

[2021-08-07 01:15] AlbertUlysses commented on #36
Hey @ryanmswan ,
here is a rough idea about what the hackforla blog post will be about. Let me know if this is more or less the idea you had or if there is some other angle I should include:
[code]

[2021-08-07 01:20] AlbertUlysses commented on #36
I will be taking a week off from the project - I'll return on august 16th

[2021-08-09 17:44] ExperimentsInHonesty commented on #44
@salice Please provide update
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-08-11 22:22] snooravi commented on #26
Presented updated to Julien [here](https://docs.google.com/presentation/d/1R78JtonLvNZJntxCs1h4aiT2vvPe8VEnSC6rBWCZfaM/edit#slide=id.ge7d289372e_0_12) based on progress made in Collab [notebook](https://colab.research.google.com/drive/1pGucNfoYgA8quOcO1QLTMl3rFTfKMNpG?authuser=1#scrollTo=232tvy9vn6gz)

[2021-08-14 01:21] AlbertUlysses commented on #36
@ryanmswan @salice
Most of the transformations are complete - there is one data source that Karina was working on, and I'm waiting for that to be uploaded. Next week I'll be writing the code for entering the data into the SQLite database using SQL Alchemy.

[2021-08-16 19:04] ebele-oputa commented on #44
@ryanmswan Please provide update

Progress
Blockers
Availability
ETA

[2021-08-19 02:33] AlbertUlysses commented on #36
I added the SQL Alchemy code, I need to add Air BnB tables into that file, and it might need some refactoring to reflect the database relationships.
After, I'll work solely on the main program, which will go through all the files and insert them into the database.

[2021-08-19 20:00] AlbertUlysses commented on #36
Airbnb tables are now in the SQL Alchemy file.

[2021-08-22 16:47] ExperimentsInHonesty opened #59 "Initial product formation steps and cleanup of project board"
### Overview
We need to create a plan for getting Data Science the project off the ground and in order to do that we need a brain dump from bonnie of next steps

### Action Items
- [ ] review minimum steps new project creation https://github.com/hackforla/product-management/issues/27 (see below)
- [ ] Check out the Open Community Survey project
- [ ] evaluate existing sub projects in data science

[2021-08-24 04:47] AlbertUlysses commented on #36
Quick update.
We have data in the database. It's not all of it, but it's a start!
I have to do some refactoring because the code I wrote is hideous,  but all tests are passing.
At this point, I think I'll have the database done by the end of the week - worst-case scenario next week (if I get real busy at work). I'm still looking for some feedback on what I need to write for the blog - we can discu

[2021-08-24 18:42] akhaleghi commented on #22
Created a spreadsheet that includes all cities in Los Angeles, Orange, and Ventura Counties. Need to define which shouldn't be included here, as well as define which (if any) cities in San Bernadino and Riverside Counties should be included.

https://docs.google.com/spreadsheets/d/1Vjmof0CfFPGyWDlDbChc_hk1MF6pSdGEwcFcAMeQCIQ/edit?usp=sharing

[2021-08-25 17:26] akhaleghi opened #65 "Data Science: PM Meeting Agenda"
### Overview
This issue tracks the agenda for the Data Science PM/Bonnie meetings.

#### Template for meeting Agendas
[code]

### Weekly Agenda, Recordings, and Transcripts
[2021-08-22](https://github.com/hackforla/data-science/issues/65#issuecomment-905731709)
[2021-08-29](https://github.com/hackforla/data-science/issues/65#issuecomment-907813975)
[2021-09-17](https://github.com/hackforla/data-sc

[2021-08-25 17:39] akhaleghi opened #66 "Convert Drive Storage from Current to Shared Drive"
### Overview
We need to move our files to a more secure and sustainable storage solution so that we don't lose them.

### Action Items

- [x] Draft explanation of what and why we're doing this.
   - [x] Update the guide. https://github.com/hackforla/product-management/issues/268
   - [x] Draft message to send to team members. (ask for what we need and add guide if they want to read more about it)

[2021-08-27 23:51] AlbertUlysses commented on #36
Here's a quick update on where the project is.
8 out of 19 tables have all the data inserted, and I'll be working on the final 11 next week.
I have messaged Jon and hope to meet with @salice  and @ryanmswan on the week of September 6 to discuss the next steps and misc questions about storing the data.

[2021-08-29 05:07] akhaleghi opened #80 "Create Template Issue for Data Science Experience Profile"
### Overview
The purpose of this issue template is to help assign team members to data science projects and allow them to understand what skills they can develop with each specific issue.

### Action Items
- [ ] Look through current roles and issues in the Data Science community of practice
- [ ] Determine which skills each issue requires

### Resources/Instructions
Discussion about this between B

[2021-08-29 15:43] akhaleghi commented on #65
2021-08-29

- [ ] Confirm with Bonnie that the old drive Data Science Guides is empty. SEIE appeared empty a few days ago and now several files are visible.
- [ ] Review [Issue #80](https://github.com/hackforla/data-science/issues/80)

[2021-09-02 05:48] AlbertUlysses commented on #36
Update: added more scripts.
Messaged Jon and he's available sometime next week to discuss the project's next steps.

[2021-09-09 21:33] ExperimentsInHonesty commented on #45
Here is the history of the communication in the Data Science channel

Bonnie Apr 28th at 10:27 AM
@channel if there is anyone looking for a quick Data project, we could use some help on this today: https://github.com/hackforla/data-science/projects/2#card-60044906
30 replies

Jude Calvillo  4 months ago
Hey @Bonnie. Good to meet you. I haven't contributed in quite some time but saw this and though

[2021-09-10 03:47] chelseybeck commented on #44
@rajindermavi [here](https://drive.google.com/drive/folders/1Y9Y4C5z-9xrVo4PIyCM6hnECwl61uF01?usp=sharing) is the drive with the tutorials. They're large files so they might be still uploading for a few minutes.

[2021-09-10 19:27] akhaleghi opened #94 "Data Science Competitive/Comparative Analysis"
### Overview
We need to know what competitors have on their sites so that we can use it as a factor when we decide what to put on our site.

### Action Items

- [x] Examine competitor websites to determine list of features that should be used for DS site.
- [x] Create list of site features, rank by MoSCoW (move to new issue)

### Resources/Instructions
[Comparative Analysis Document](https://docs.

[2021-09-11 23:34] rajindermavi commented on #44
The folder is empty.

[2021-09-13 18:25] ExperimentsInHonesty commented on #65
Add this to this weeks agenda
- Quantitative tool for Analysis [John's report](https://rpubs.com/jkropko/775977)
  - @ExperimentsInHonesty Discuss with Data Science COP and recruit DS

[2021-09-13 19:03] ExperimentsInHonesty commented on #65
@akhaleghi Re your comment above where you mentioned there are new files in the old drive.  You have to review the whole repository (the boards and the issues, and annotate any old links to the drive with a note that the drive files have been moved to the new shared drive and provide a link to the new drive.

Also, you have to make sure that all the team members have access to the new drive.  Anyo

[2021-09-15 15:51] AlbertUlysses commented on #36
Quick update, all but one dataset are complete.
I'll be working on the last one the rest of the week, and I intend to deliver the completed dataset the following Monday.

[2021-09-16 18:27] akhaleghi commented on #65
2021-09-17

- [ ] Review progress of (issue #94)[https://github.com/hackforla/data-science/issues/94] to make sure I'm on the right track. See Google Pages spreadsheet (here)[https://docs.google.com/spreadsheets/d/138Oul1HQLNuuGvIf0P894cmyo4A2Nf2ZSJtZoZTd26U/edit#gid=0]
- [ ] Review (John's report)[https://rpubs.com/jkropko/775977] and any discussion about it with DS COP team.
- [ ] Walk through a

[2021-09-17 03:48] AlbertUlysses commented on #36
@ryanmswan @salice  @KarinaLopez19
All of the scripts are complete.
Next steps will be writing some documentation and handing the project over.
I'll be making a call next week with everyone!

[2021-09-17 20:13] ExperimentsInHonesty commented on #65
John's methodology [IRT.pdf](https://github.com/hackforla/data-science/files/7188225/IRT.pdf)

[2021-09-17 21:04] akhaleghi commented on #65
2021-09-24

- [ ] Go through New Issue Approval column with Bonnie re: issues moved over from other projects.
- [ ] Talk about different kinds of districts

[2021-09-18 21:11] ryanmswan opened #109 "Identify overall trends in DUI arrests by council region"
### Overview
Investigate areas of high and low documented DUI arrests. Link this data back to 311 data to provide insight for councils.

### Action Items
- [x] Investigate areas of high and low DUI citations
- [ ] Investigate correlation of DUI with population and percentage of stops
- [ ] Investigate correlation between DUI and collision data

### Resources/Instructions

### Delivery
ETA:  March

[2021-09-18 21:23] ryanmswan opened #110 "COVID 19 impact project"
# Description
Investigate methods for mapping COVID-19 data for LA County to the 311-data tool and assess additional data that can be mapped using the 311-data tool

## Action Items
- [ ] Identify data sets with COVID-19 data linked to location or GPS coordinates
- [ ] Assess statistically significant changes in 311-reports by area due to quarantine actions
- [ ] Assess differential impact on comm

[2021-09-20 16:49] ebele-oputa commented on #44
@rajindermavi
Please provide update:
1. Progress
2. Blockers
3. Availability
4. ETA

[2021-09-21 04:15] AlbertUlysses commented on #36
@KarinaLopez19 @ryanmswan @salice
Hey I just finished the README I think that's going to be one of my last git commits for a while. I asked Karina to check it out and let me know if there are any questions so I can clarify. Ryan and Sophia, feel free to check out the code as well.

[2021-09-23 17:16] akhaleghi commented on #66
Added roster of CoP (as of 9/23/21 at 10:15 AM PST) as content managers on Google Drive

[2021-09-23 23:54] rajindermavi commented on #44
Hi Ebele,

I got the docker / selenium version working. I can scrape builtwith and output data to a json file. I am now going to try to get all websites from online source using selenium. I'll be at the data science meeting tonight to discuss.

[2021-09-24 02:48] ExperimentsInHonesty commented on #108
This is the history of all the emails so far with dan.

https://drive.google.com/file/d/16e3tlMGIkl34YFu8smup3BcoQ3892FVA/view?usp=sharing

[2021-09-25 22:03] rajindermavi commented on #44
@ebele-oputa

I made a pull request with the webscraping for all websites. It includes a dockerfile and script that produces a json file, which I included.

[2021-09-27 16:08] ebele-oputa commented on #44
Thanks @rajindermavi for the updates and the work done! Looking forward to receiving a readable file containing the list in a Google sheet.

[2021-09-28 18:48] ExperimentsInHonesty opened #118 "Create district types reusable tool (API, single dataset, etc.)"
### Overview
We need to create a tool so that each project at H4LA that renders points on a map can use District Files to help people analyze or view the data.

## Action Items
- [x] Identify large groups/districts
- [x] Identify links for groups/districts
- [x] Locate and obtain shape files for these districts #124
- [x] Determine what files types we will make these available (shp, npm, and/or Ge

[2021-09-30 16:31] ExperimentsInHonesty opened #120 "Structured Context for HfLA created data sets"
### Overview
We need to have minimum standards for structured context in data sets we create and or deploy in our projects so that we can help consumers understand the context from which they come.

### Action Items
- [ ] Identify existing resources for structured context
- [ ] Write a proposal with next steps
- [ ] Review with Data Science Team

### Resources/Instructions
[Datasheets for Data Set

[2021-09-30 19:36] patula006 commented on #24
I am working on the new Hack for LA landing page and have been tasked with writing a description of each COP. I would like to get feedback on my brief description to ensure accuracy and I also would like to include an example project or two for each one. Thank you in advance for your help! Patty

**Brief description:**
The Data Science Community of Practice (COP) is a space for data science profes

[2021-10-01 02:21] ryanmswan commented on #108
[Most recent powerpoint.](https://github.com/henrykaplan/data-science/tree/pedestrian-safety/Pedestrian_Data/Report)

[2021-10-01 02:53] ryanmswan commented on #106
The analyst working on this issue has left Hack For LA.

[2021-10-01 02:53] #106 closed

[2021-10-01 17:43] akhaleghi opened #121 "Template For Creating Epics For Data Science Projects"
### Overview
We need to develop a uniform way to approach large data science projects and make it easier to identify smaller subtasks to facilitate completion.

### Action Items
- [x] Write draft template
- [x] Consult CoP and org leads
- [x] Add template to repository

### Resources/Instructions
Example Epics:
Issues #106 , #107
[DS repo add template section](https://github.com/hackforla/data-sci

[2021-10-01 19:29] akhaleghi commented on #65
2021-10-01

- [ ] Get feedback on issue #121 , is this something we need to have?
- [ ] Propose times to meet with Ryan and Sophia
- [ ] Continue reviewing items in New Issue Approval Column

[2021-10-01 20:05] akhaleghi commented on #106
Did the analyst take the project with them to another organization?

[2021-10-01 20:25] ExperimentsInHonesty commented on #121
# Draft template

### Overview

### Action Items
- [ ] Find available data sources and add to Resources section
- [ ] Determine is this is one-time or ongoing project (and assign appropriate label)
- [ ] Write one-sheet (see Resources below)
   - [ ]  Define stakeholder
   - [ ]  Summarize project, including value add
   - [ ]  Define project 6 month roadmap
   - [ ]  Detail history (if any)
- [ ]

[2021-10-01 21:05] akhaleghi commented on #109
Get status update from Regan to see if this project is completed

[2021-10-03 00:46] rajindermavi commented on #44
@ebele-oputa

Thanks Ebele! The the google sheet output is [here](https://docs.google.com/spreadsheets/d/1oOBfaKLSQAeOB4V7gwjQYyeOdz6a5IBmkH_Lr2Kzn40/edit?usp=sharing) let me know if there is anything else.

[2021-10-04 23:05] JRHutson commented on #109
@akhaleghi what I had been working on is in a repo under my account. Happy to fork it to the Hack For LA account incase the code could be useful to anyone. I got it to a point that there was some insight but not a finalized presentation.
https://github.com/JRHutson/dui_analysis

[2021-10-13 00:09] akhaleghi commented on #109
@JRHutson Thanks! If you could fork it to the Hack for LA account, that would be awesome.

[2021-10-14 21:42] akhaleghi opened #124 "Obtain Shape Files for Different District Types as of Nov/Dec 2021"
### Overview
We need to obtain shape files for the various district types that represent stakeholders we work with. This is part of the epic issue  #118

### Action Items
- [x] Identify shape file sources for the following district types:
   - [x] [Neighborhood Councils (NCs)](https://empowerla.org/councils/) | [_Shape Files Here_](https://geohub.lacity.org/datasets/neighborhood-council-boundaries

[2021-10-15 20:18] chelseybeck opened #126 "Replace column chart with stacked bar chart on the reports overview page"
### Overview
Replace column chart with stacked bar chart to improve visualization

### Action Items

- [ ] Edit existing dashboard - [overview](https://dev.311-data.org/reports/dashboards/overview) to replace column chart w/ stacked bar chart

### Resources/Instructions
Refer to the documentation in the [311-data dashboards directory](https://github.com/hackforla/311-data/tree/dev/server/dash/dash

[2021-10-15 22:10] chelseybeck opened #128 "Research incorporating population data into 311-data reports/dashboards"
### Overview

Comparing neighborhoods by the number of requests when each neighborhood council differs widely in population size can be misleading.

### Action Items

- [ ] Research ways to join 311-data requests with population data

### Resources/Instructions
[311-Data Project Onboarding](https://docs.google.com/document/d/1fNIxKJl91YZ_b6PRvKMdyd7tXJwWbfGIAJ5VTfe8Jow/edit?pli=1#heading=h.c8tc614

[2021-10-22 02:15] chelseybeck opened #129 "Identify points of improvements to make 311-data dashboards more meaningful to different audiences"
### Overview
The 311-data dashboards display data about 311 requests but right they aren't answering key questions that neighborhood council members might have or need to answer to make informed decisions. Here are some examples of interesting questions that might produce more meaningful dashboards:

- How does my neighborhood council compare to another council in terms of the type of request or d

[2021-10-22 16:49] akhaleghi opened #130 "Create a Guide: Web Scraping"
### Overview
This issue contains resources to help community members learn more about web scraping in Python, including the use of APIs.

### Action Items
- [ ] Gather resources, including links to relevant online courses, and tutorial/how-to web content for inspiration or further reading for users.
- [ ] Create an outline of what you will cover.
   - include steps on how to get started for volunt

[2021-10-24 18:07] akhaleghi opened #131 "Story Size for Data Science Issues"
### Overview
This issue explains the meaning of story points that we use for estimating the relative effort required for issues.

### Resources/Instructions
When creating new issues, add a "size" label based on the estimated time effort required to complete the tasks. _Note that each point roughly equates to 6 hours or less of work._
- size: 1pt - can be done in 6 hours or less
- size: 2pt - can b

[2021-11-01 23:28] ExperimentsInHonesty commented on #129
@chelseybeck this issue is designed to have someone go through these report pages on 311-data.org and do a quick write up of what potential improvements their could be.  This issue is not about making those changes.  Please either write-up your recommendations, or put the issue back into the prioritized backlog by Thursday 2021-11-04.

[2021-11-01 23:31] ExperimentsInHonesty commented on #126
@chelseybeck have you already started coding this?  You are still in the middle of a good first issue, #127.  We would like you to finish working on that before starting a new issue, unless somehow these are related.  If so, please explain. 😀

[2021-11-01 23:36] #131 closed

[2021-11-01 23:40] ExperimentsInHonesty opened #133 "Create labels, features, milestones"
### Overview
We need the board to be easy all team members to navigate and use to be effective, so that we can build capacity and velocity

### Action Items
#### Make labels
- [ ] Labels
   - [ ] features
   - [ ] roles
   - [ ] size
   - [ ] epics
- [ ] label checkers for the following
   - [x] features
   - [x] roles
   - [x] size
   - [x] epics
#### Milestones
- [ ] Start spreadsheet
- [ ] add

[2021-11-02 19:57] #121 closed

[2021-11-02 20:17] akhaleghi commented on #65
2021-11-5
- [ ] Discuss #66 and find out best way to reach Derek Plemons and Grace Jones to move files. Also have Bonnie move file
- [ ] Discuss #133 and get clarification about how we want to handle features vs projects (i.e. do we want these filters for projects?)
- [ ] more to come...

[2021-11-05 02:01] chelseybeck opened #134 "Overview Dashboard - add titles to graphs"
### Overview
None of the figures on the dashboards currently have titles. This issue is to add titles to the figures on the Overview page on the dev site.

### Action Items

- [x] add title to fig1
- [x] add title to fig2
- [x] add title to fig3
- [x] add title to fig4
- [x] add title to fig5
- [x] add title to fig6

### Resources/Instructions

[311-data project onboarding](https://docs.google.com

[2021-11-05 21:21] ExperimentsInHonesty commented on #133
@akhaleghi I finished the label links above that I needed so that we could start to do a weekly audit to check our progress.

2021-11-5 audit
open Issues that need help with their labels:
- [ ] feature: 0
- [ ] project: 4
- [ ] role: 11
- [ ] size: 13
- [ ] epic: 12 (these don't necessarily need epics, but they will have to be reviewed to see if they do, if they don't we will remove the epic missi

[2021-11-05 21:24] ExperimentsInHonesty commented on #133
@akhaleghi Once we get finished with the other labels, we have to discuss when and how to use epics

[2021-11-12 20:41] akhaleghi commented on #65
- [ ] Updates on #66
- [ ] Update on logo for DS team and size labels
- [ ] Confirm GitHub is updated with new link for Thursday DS CoP meeting
- [ ] Discuss #133
   - [ ] Figure out how we want to handle epics
   - [ ] Go through "role: missing" issues and label those (want to make sure I do them correctly)

[2021-11-12 20:46] akhaleghi commented on #134
@chelseybeck It looks like all of the tasks about are complete. Can we close this issue?

[2021-11-12 21:25] akhaleghi commented on #26
@henrykaplan We're adding "size" labels to issues to help volunteers understand the time commitment to complete the task. Please add this based on your estimate of how many hours this should take. Please see #131

[2021-11-12 21:30] ExperimentsInHonesty commented on #119
Regan connected us with Mapilary

Henry has been working on this and has made a[ slidedeck for this presentation](https://drive.google.com/drive/folders/1TeUQlK8zkm0Hu1aWyQHAcd0nPceckUWj
)

[2021-11-12 21:31] ShikaZzz commented on #44
@rajindermavi If my understanding is correct, the current issue is that we need to extract the link of each webpage in an NC website and run them through builtwith because builtwith can only analyze the technology used for a specific link instead of the entire website.
In order to extract the link of each page, we could use [online tool](https://www.xml-sitemaps.com/) but the running time is super

[2021-11-12 21:32] ExperimentsInHonesty commented on #119
@henrykaplan can you add a size label to this issue

[2021-11-12 21:47] ExperimentsInHonesty opened #135 "CoP: Data Science: Find and document all the 311 public data sets"
### Overview
We need to create a definitive list of all the city government data portals for the Greater LA area.

### Action Items
- [x] Add the datasets from the Harker list into the Spreadsheet of cities and counties in Greater LA
- [x] Google to see if there are any others
- [x] find each cities website and record in spreadsheet
- [x] visiting each city's website to confirm they have one or do

[2021-11-16 01:42] ExperimentsInHonesty commented on #44
The issue is not that the site does not have a sitemap, its that some sites, are resistant to being crawled (wordpress for instance).  So what we need is a list of all the sites that can't be put through the sitemap maker.

@rajindermavi can you provide a progress report on this issue?

[2021-11-19 02:56] chelseybeck opened #136 "Show source information on file exports"
### Overview

Currently, when someone exports an image, csv, or PDF, the source information isn't there. We should be including a reference to our site, to the data source, and information regarding the query like the date it was generated, NC, request type, etc.

### Action Items

- [ ] PNG Export (contains all these items visible at the bottom
- [ ] CSV Export (contains info towards the top of t

[2021-11-19 03:27] chelseybeck commented on #65
2021-11-18

- [ ] Discuss 311-data with Ryan. Once it is cleaned, where is it stored? Is it possible to give HfLA members access to query it directly?

[2021-11-19 04:01] #134 closed

[2021-11-19 04:37] akhaleghi opened #137 "Data Science Community of Practice Meeting Agendas (Thursday 8PM PST)"
### Overview
This issue tracks the agenda for the Data Science CoP meetings.

###Weekly Agenda, Recordings, and Transcripts

### Resources/Instructions

[2021-11-19 04:51] akhaleghi commented on #137
2021-11-18

- [ ] Ask Ryan/Sophia about tasks like data cleaning, researching, and info gathering. Are these more suited for data scientists or data analysts.
- [ ] Discuss 311-data with Ryan/Sophia. Once it is cleaned, where is it stored? Is it possible to give HfLA members access to query it directly?
- [ ] Update from Rajinder on web scraping project

[2021-11-19 20:25] akhaleghi commented on #137
2021-12-02

- [ ] Review with team size labels and ask assignees to provide estimates during meeting. [List here](https://github.com/hackforla/data-science/issues?q=is%3Aopen+is%3Aissue+label%3A%22size%3A+missing%22)
- [ ]

[2021-11-19 20:36] akhaleghi opened #138 "Starter Project for New Data Analysts and Data Scientists"
### Overview
CoP lead proposed developing a starter project using a toy data set to help new recruits understand various tasks and allow mentors to provide useful feedback based on deeper understanding of the project and data set.

### Action Items
- [ ] Determine what skills should be used in the starter project. Possibilities include:
   -    Data cleaning
   -    Documentation (i.e. adding stru

[2021-11-19 20:51] akhaleghi commented on #65
- [ ] Review #133 and see if we want to use a label like "project: misc" or "project: one time" for shorter duration issues like #27 #36 and #45.
- [ ] Review #138 and discuss next steps

[2021-11-19 21:25] ExperimentsInHonesty commented on #45
Next steps are

- [ ] reach out to the original data scientist who made this Jude Calvillo and ask him if he is interested in making a presentation out of his findings?
- [ ] If no, then put in the prioritized backlog for someone to make a presentation out of it, and dicuss with team at next meeting.

[2021-11-19 21:32] ExperimentsInHonesty commented on #36
We should do a cleanup of this issue to summarize any info we need to keep from the comments into the top part.

[2021-11-29 20:37] ShikaZzz commented on #44
[webscraping link](https://github.com/rajindermavi/Webscraping)

[2021-11-30 19:00] akhaleghi commented on #138
Cancelled plans to do this based on convo with Bonnie.

[2021-12-01 07:04] henrykaplan opened #140 "Create a logo for the Data Science CoP"
### Overview

Create a logo for the Data Science CoP, for use in powerpoint presentations and deliverables. We currently have a draft version in need of refinement. It will likely need to be rebuilt.

### Action Items

- [x] Refine current draft of logo
  - [x] Simplify visually - fewer elements, no backdrop, better perspective angle
  - [x] Find clearer placement for Hack for LA logo within or al

[2021-12-01 18:21] akhaleghi commented on #124
Uploaded remaining files to Google Drive.

[2021-12-02 18:24] akhaleghi commented on #65
- [ ] Discuss #124 and how we want to update these when new files are available when districts are redrawn.
- [ ] Discuss #45 and Jude's response
- [ ] Review action items on #109 and #110 to make sure these look right

[2021-12-03 04:47] akhaleghi commented on #137
2021-12-09
- [ ] Ask Karina to move files for 311 (Bonnie has more info on this)
- [ ] more to come...

[2021-12-05 22:21] ShikaZzz commented on #44
finished scrapping and is working on extracting data from json file and data analysis. ETA for data analysis is about a week.

[2021-12-06 16:33] ExperimentsInHonesty commented on #120
@akhaleghi how is this a guide issue.  Please add to our agenda for discussion.

[2021-12-07 18:17] akhaleghi commented on #65
2021-12-07 (Meeting with Sophia and Bonnie)
- [ ] Discuss #118 and process for updating shape files. Should we do manually or have an automated process?
- [ ] Discuss new issue approvals
- [ ] Review issues requiring 311 data (list [here](https://docs.google.com/spreadsheets/d/1yi5_1dQz6OZcsAqzejP2ef6ccUQscq67VUw5Iw1oIlY/edit#gid=0)) and discuss what type of access is needed.

[2021-12-07 19:44] ExperimentsInHonesty commented on #118
create a npm package for delivering the data.

[2021-12-07 20:22] ExperimentsInHonesty commented on #118
next steps are talking to 311 team, tdm team, food oasis, luckparking

[2021-12-07 20:29] ExperimentsInHonesty commented on #109
current status of this issue is
- Someone needs to talk to Regan to get him to commit the data to the data science repo
- Note where he has put it in the top of this issue (for easy access)
- Review issue again for next steps

[2021-12-07 20:30] ExperimentsInHonesty commented on #109
@JRHutson does it make sense to put in into a folder on the ds repo called dui_analysis?  If so, please commit it there.

[2021-12-07 20:38] ExperimentsInHonesty commented on #65
Notes from a conversation bonnie had with Sophia re issue #110

#### Notes from conversation with Sophia:
Bonnie misunderstood this project, I didnt read it fully.  Its clearly a project about volume and type of calls made to 311 because of the pandemic

- Selah does encampment surveys
- the county does a survey https://www.lahsa.org/news?article=726-2020-greater-los-angeles-homeless-count-results

[2021-12-07 22:25] JRHutson commented on #109
@ExperimentsInHonesty Looks like I need elevated permissions to fork it or someone else needs to do it. Let me know either way.
<img width="387" alt="Screen Shot 2021-12-07 at 2 24 24 PM" src="https://user-images.githubusercontent.com/10876900/145115462-671f841a-0926-4555-bfcc-974415d9ddb4.png">

[2021-12-10 19:28] akhaleghi commented on #118
Feedback from Mike Morgan on 12/9: Since the shape files for the various districts are small enough (less than 50MB, see [here](https://docs.github.com/en/repositories/working-with-files/managing-large-files/about-large-files-on-github)), they can be stored in a repository. We should also consider making these available as npm and GeoJSON.

[2021-12-10 19:43] akhaleghi opened #141 "Obtain Shape Files for Different District Types (2023)"
### Overview
We need to obtain new shape files for the various district types that represent stakeholders we work with once they reflect redistricting. This is part of the epic issue  #118 and should be done annually until we can automate the process.

### Action Items
- [x] Save shape files updated in 2022 to the data-science repo. Folder is [here](https://drive.google.com/drive/folders/13oZXXIfY

[2021-12-10 19:44] akhaleghi commented on #65
2021-12-10
- [ ] Review comment and checklist for #118 to make sure it accurately reflects Mike's input.
- [ ] Begin work on roadmap

[2021-12-11 20:06] JRHutson commented on #109
Connected with Bonnie last night and was able to fork the repo to https://github.com/hackforla/dui_analysis. @akhaleghi let me know if there is anything else you need me to do on my end.

[2021-12-17 03:45] akhaleghi commented on #137
2021-12-16
- [ ] Review items In Progress
- [ ] Does anyone need to move files?
- [ ] Review all alternatives in #140 and see if we can use any of these now or make minor tweaks suggested in Henry's comments.

[2021-12-17 20:25] akhaleghi commented on #65
- [ ] Discuss Mike's e-mail and determine next steps
- [ ] Review [website notes](https://docs.google.com/document/d/1__YQczL2N8oTPmV7VcBP1Wsh4_sYJQrcwS712TJnlpw/edit) and start collect content needed
- [ ] Begin work on roadmap in notes [here](https://docs.google.com/document/d/1xjMcN8595Bn8AgDOf2mUJjcpCXrZqLvWIcOL9psqcT8/edit)

[2021-12-20 17:27] ExperimentsInHonesty commented on #65
Next meeting agenda
- https://github.com/hackforla/data-science/issues/120#issuecomment-986943704

[2021-12-20 17:29] ExperimentsInHonesty commented on #120
added this issue to the agenda for DS pm meeting https://github.com/hackforla/data-science/issues/65#issuecomment-998129637

[2021-12-30 01:16] ExperimentsInHonesty commented on #65
Add this to our next agenda where do we host this and make it actionable https://github.com/researchsherpa/data-literacy

[2021-12-31 21:11] akhaleghi commented on #65
2022-01-07
- [ ] Brainstorm project ideas with Mike
- [ ] https://github.com/hackforla/data-science/issues/120#issuecomment-986943704 (reformat this issue to match new agenda format from other projects)
- [ ] Discuss where to host this and make it actionable: https://github.com/researchsherpa/data-literacy

[2022-01-05 15:58] ExperimentsInHonesty commented on #120
We didn't meet, we will pick this up at this week's meeting 2022-01-07

[2022-01-07 03:47] akhaleghi commented on #137
2021-12-16
- [ ] Introductions for new members
- [ ] Review items In Progress

[2022-01-14 03:36] akhaleghi commented on #137
2022-01-13
- [ ] Introductions for new members
- [ ] Review items In Progress

[2022-01-14 20:36] snooravi commented on #26
Next steps:
- [ ] Recruit UI designer for Map visual
- [ ] Validation of region mapping to current NC dataset. Compare with output from [empower ArcGIS Dash](https://lahub.maps.arcgis.com/apps/opsdashboard/index.html#/37480466a636479ba5ea167b51dc1314)
- [ ] High level (# of responses, # of unique responses, # of respondents, respondents by region, etc)
- [ ] Henry to provide a list of top themes b

[2022-01-20 02:19] ExperimentsInHonesty commented on #137
add talking about this to the agenda. Its from Mike https://github.com/researchsherpa/graffiti-viz

[2022-01-20 21:05] akhaleghi commented on #137
2022-01-20
- [ ] Introductions for new members
- [ ] Discuss Mike's additions [here](https://github.com/researchsherpa/graffiti-viz)
- [ ] Review items In Progress

[2022-01-20 21:28] akhaleghi commented on #65
## 2020-01-21 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/133)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/open

[2022-01-21 05:19] ryanmswan opened #143 "Create ETL/Data Cleaning Tutorial"
### Overview
Update the [ETL/Data Cleaning Tutorial](https://github.com/hackforla/data-science/wiki/ETL-Data-Cleaning-Resources) with resources and a header explaining

### Action Items
Create [wiki page in the data-science repo](https://github.com/hackforla/data-science/wiki) for the listed subject
Update the Tutorial with:
- An introductory paragraph explaining what the tutorial resources cover

[2022-01-21 05:22] ryanmswan opened #144 "Create Data Visualization Tutorial"
### Overview
Update the [Data Visualization Tutorial](https://github.com/hackforla/data-science/wiki/Data-Visualization) with resources and a header explaining

### Action Items
- [x] Create a Google Doc in the folder provided under resources
  - [x] Draft an introductory paragraph explaining what the tutorial resources cover and why a new data scientist would use them for working with data at Hac

[2022-01-21 05:27] ryanmswan opened #145 "CoP: Data Science: Create Data Analysis With R Tutorial"
### Overview
Update the [Data Analysis With R](https://github.com/hackforla/data-science/wiki/Data-Analysis-With-R) with resources and an article header.

### Action Items
- [ ] Create a Google Doc in the folder provided under resources
  - [ ] Draft an introductory paragraph explaining what the tutorial resources cover and why a new data scientist would use them for working with data at Hack For

[2022-01-21 05:31] ryanmswan opened #146 "Create Web Scraping Tutorial"
### Overview
Update the [Web Scraping](https://github.com/hackforla/data-science/wiki/Webscraping) with resources and an article header.

### Action Items
- [x] Create a Google Doc in the folder provided under resources
  - [x] Draft an introductory paragraph explaining what the tutorial resources cover and why a new data scientist would use them for working with data at Hack For LA
   - [x] Ident

[2022-01-21 05:33] ryanmswan opened #147 "Create Data Engineering Tutorial"
### Overview
We need to add content to the Data Engineering tutorial wiki with resources and an article header, so that new data scientist joining our organization will have them for working with data at Hack for LA.

### Action Items
- [ ] Create a Google Doc in the folder provided under resources
  - [ ] Draft an introductory paragraph explaining what the tutorial resources cover and why a new d

[2022-01-21 06:47] ryanmswan commented on #46
Created and assigned the following tickets:

#143
#144
#145
#146
#147

[2022-01-21 06:48] ryanmswan commented on #143
First draft posted

[2022-01-21 06:53] ryanmswan commented on #143
Opted to change the title a bit to better reflect the content. I think maybe the ETL stuff should go in the Data Engineering tutorial, since pipelining feels a bit out of scope here.

New page is [here.](https://github.com/hackforla/data-science/wiki/Intro-to-Data-Analysis-With-Python/)

[2022-01-27 04:11] ExperimentsInHonesty commented on #137
Please add to this weeks agenda:
- The Green Earth OS project needs some help with this https://github.com/hackforla/GreenEarthOS/issues/87

[2022-01-28 02:56] akhaleghi commented on #137
## 2022-01-27 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review items In Progress

### New Items
- [ ] Remind members to check # data-science on Slack for job opportunities. Two positions at Caltrans were posted this week.
- [ ] The Green Earth OS project needs some help with this https://github.com/hackforla/GreenEarthOS/issues/

[2022-01-28 20:42] akhaleghi commented on #65
## 2020-01-28 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/133)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/open

[2022-01-28 21:09] akhaleghi commented on #36
@KarinaLopez19 we want to add a "size" label to this, just so we can keep track of the number of hours it took. Do you have an estimate of how much time you and Albert spent on this, and how much more there is to go?

[2022-01-28 21:23] akhaleghi commented on #140
@henrykaplan hey, I was out of town during last week's meeting. did you make finish making the logo with the team at last week's community of practice meeting?

[2022-02-02 18:47] akhaleghi commented on #45
Additional work that should be done on this issue:
- [ ] Expand on existing work with additional data analysis on Native Land data.
- [ ] Create visualizations that help illustrate data
- [ ] Develop a presentation outlining findings and opportunities for additional research

[2022-02-04 00:06] scho-git commented on #144
First draft completed and posted

[2022-02-04 03:21] akhaleghi commented on #137
## 2022-02-03 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review items In Progress

### New Items
- [ ] #45 needs data analysts/scientists to join project. See note in issue.
- [ ] Ask Karina about #36 and get estimated effort to add size label.

### FYIs

### Meeting Notes

### Tasks from meeting

[2022-02-04 04:29] akhaleghi commented on #65
## 2020-02-03 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/133)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/open

[2022-02-04 04:46] ryanmswan opened #148 "Create Geospatial Data Analysis Tutorial"
### Overview
Update the [Geospatial Data Analysis](https://github.com/hackforla/data-science/wiki/Geospatial-Data-Analysis) with resources and an article header.

### Action Items
Update the Tutorial with:
- An introductory paragraph explaining what the tutorial resources cover and why a new data scientist would use them for working with data at Hack For LA
- A resources section listing vetted tut

[2022-02-10 01:25] snooravi commented on #26
Today we aligned with Randy Rios to join as the UI Designer to develop the map. He will begin by developing icons for the 10 themes.

[2022-02-10 04:05] ExperimentsInHonesty commented on #137
Add to next agenda
 Turns out if we know the name of repo's organization we can check to see if its uses the sponsor function.  We would like to figure out how to Take this list [GEOS: Open Source projects - Funder data](https://docs.google.com/spreadsheets/d/1LFResU_pcP5IMwz92dmPQRoKJ4lNa3tvr-_COJiE_hc/edit#gid=0)

Find out the name of each org (not the end url)
And then do this search, but using

[2022-02-11 01:09] akhaleghi commented on #65
2022-02-11

Abe is out of town.

[2022-02-11 01:13] akhaleghi commented on #65
## 2020-02-18 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/133)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-02-11 02:51] akhaleghi commented on #137
## 2022-02-03 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review items In Progress

### New Items
- [ ] Review issues that are ready be assigned for interested volunteers
   - [ ] #45 (additional data analysis and preparing a presentation)
   - [ ] #125 (creating a dashboard using Python/Plotly)
   - [ ] #126 (improve charts using

[2022-02-11 03:29] mcmorgan27 commented on #148
1. Progress:  Draft in the final stage.
2 . Blockers: None
3. Availability: Hour to finish
4. ETA: Feb 11

[2022-02-12 02:58] henrykaplan commented on #140
I made a few more minor adjustments after our meeting and saved the latest in the google drive.

[2022-02-13 23:40] Neecolaa opened #160 "Survey: Repo Labels"
### Overview
We need to survey labels across the organization so that we can rationalize and do automation and org-wide audits.

### Action Items
- [x] Define data schema
- [x] Create spreadsheet
- [x] Write a script that gets a list of all labels for each repo across all orgs controlled by hack for la
- [x] Find main label types
- [ ] Analysis by appearance
- [ ] Release dependency on hackforla/o

[2022-02-13 23:42] Neecolaa commented on #65
- We need help from data scientist with this issue: https://github.com/hackforla/ops/issues/14

[2022-02-17 20:47] akhaleghi commented on #65
@Neecolaa Hey Nicole, I made a card for your issue [here](https://github.com/hackforla/data-science/projects/2#card-77893707). Let me know if everything looks right so I can try to recruit someone for this at our community of practice meeting.

[2022-02-18 03:11] ExperimentsInHonesty commented on #128
@chelseybeck each NC serves about 40,000 people. They have subdivided in the past when they larger than that.  Is this still needed?

[2022-02-18 03:56] akhaleghi commented on #137
## 2022-02-17 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review items In Progress

### New Items
- [ ] Review cards for new projects that are ready be assigned for interested volunteers
   Data Scientist
      - [ ] [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [ ]

[2022-02-18 21:52] #66 closed

[2022-02-24 04:13] Neecolaa commented on #65
@akhaleghi Looks good to me!

[2022-02-25 03:48] akhaleghi commented on #137
## 2022-02-24 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress

### New Items
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [311 Data](h

[2022-02-25 20:53] akhaleghi commented on #65
## 2020-02-25 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/133)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-02-25 21:38] ExperimentsInHonesty opened #149 "Weekly Label Check"
### Dependency
2022-02-19

### Overview
We need to perform a weekly check on issues to make sure they all conform to our label and milestone schema.

### Action Items
- [ ] Check the following to make sure that they are all 0/0 (Links for checking to make sure that all issues either have a ___ or a ____ missing label)
- [feature](https://github.com/hackforla/data-science/issues?q=is%3Aopen+is%3Ais

[2022-02-25 21:53] akhaleghi commented on #149
Date: 2021-02-25
- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
   - Added missing labels to 8 issues, added 2 issues to the project board
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] r

[2022-03-02 00:07] akhaleghi opened #150 "Improve Key on 311 Data Dashboard Neighborhood Report"
### Overview
The Neighborhood Report on the 311 Data Dashboard needs a more descriptive key for the first chart.

### Action Items
- [ ] Visit https://dev.311-data.org/map and navigate (through the top menu) to Reports-> Neighborhood
- [ ] The key for the first chart (circled in the attached image) needs a few bug fixes.
   - [ ] 'count' should be 'Count' to match the text in the keys that follow.

[2022-03-02 00:17] akhaleghi opened #151 "Improve Incorrect Data on 311 Data Dashboard"
### Overview
The Neighborhood Weekly Report on the 311 Data Dashboard shows an incorrect city name.

### Action Items
- [ ] Visit https://dev.311-data.org/map and navigate (through the top menu) to Reports-> Neighborhood Weekly
- [ ] See that first line of text below the drop-down menu says 'Arleta weekly report (dates)' remains the same as you change to different cities in the drop-down menu.
- [

[2022-03-04 04:53] scho-git commented on #126
hi @chelseybeck , just wanted to confirm how the stacked bar charts should be segmented: Total Requests by Year segmented by Request Type? And Total Requests by Source segmented by Agency (to match the donut chart next to it)?

Per today's discussion, I'll also add the following for the Total Requests by Year stacked bar chart: % of each request type per year in the hover info, total yearly reques

[2022-03-04 20:12] akhaleghi commented on #65
## 2020-03-04 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/149)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-03-04 20:13] akhaleghi commented on #149
Date: 2021-03-04

- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [ ] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [ ] feature, ending at
   - [ ] project, ending at
   - [ ] role, ending at

[2022-03-05 18:40] ExperimentsInHonesty commented on #65
@akhaleghi I don't know where we left off on finding a base to start working on the experience profile with Ryan and Sophia.  I found these on Indeed.  These are not checklists but might inform them:
[Data Scientist ](https://www.indeed.com/hire/job-description/data-scientist?gclid=CjwKCAiAjoeRBhAJEiwAYY3nDCWtS3fTnMXjdfUzegTKZslDpVM5odX_8x6UrQj8dg9wWXNDdsqBlBoCoKgQAvD_BwE&aceid=)
[Data Manager](ht

[2022-03-11 03:22] akhaleghi commented on #80
https://github.com/hackforla/data-science/issues/65#issuecomment-1059812895

[2022-03-11 03:28] akhaleghi commented on #137
## 2022-03-10 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
      - [Analysis of Metro Stops and 311 Data](http

[2022-03-11 18:53] akhaleghi commented on #65
## 2020-03-11 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/149)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-03-11 20:41] mcmorgan27 commented on #65
Gonna be a bit late.

On Fri, Mar 11, 2022, 10:53 Abe ***@***.***> wrote:

[2022-03-11 20:45] akhaleghi commented on #149
Date: 2021-03-11

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 0/0
   - [x] project, ending at 0/0
   - [x] role, endin

[2022-03-17 20:28] akhaleghi commented on #80
## Draft: Data Scientist Experience Profile
---
name: Data Scientist Experience Profile
about: Track a data scientists's Hack for LA experience
title: 'Experience Profile: [Your Name]'
labels: 'feature: experience profile'
assignees: ''

---

### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Ac

[2022-03-17 20:30] akhaleghi commented on #80
## Draft: Data Analyst Experience Profile
---
name: Data Analyst Experience Profile
about: Track a data analyst’s Hack for LA experience
title: 'Experience Profile: [Your Name]'
labels: 'feature: experience profile'
assignees: ''

---

### Overview
Fill in the following fields as you work on these items at Hack for LA. Add the link of the items you worked on in the list as examples.

### Action It

[2022-03-18 02:48] akhaleghi commented on #137
## 2022-03-10 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
      - [Analysis of Metro Stops and 311 Data](http

[2022-03-18 17:33] akhaleghi commented on #65
## 2020-03-18 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/149)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-03-18 17:34] akhaleghi commented on #149
Date: 2021-03-18

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 0/0
   - [x] project, ending at 0/0
   - [x] role, endin

[2022-03-18 17:39] akhaleghi commented on #118
Notes from 3/11 meeting with Abe, Bonnie, John (Food Oasis) and Mike:
Food Oasis uses PostGRES DB's own geometry data type to run scripts, and then converts to geojson to send to client.
   - Can take lat/lon and returns NC
   - Can render a neighborhood on a map
PostGRES can also consume geojson to convert to its proprietary geometric data type.

[2022-03-18 20:06] akhaleghi commented on #27
We waited too long, closing this issue.

[2022-03-18 20:06] #27 closed

[2022-03-18 21:04] akhaleghi opened #152 "CoP: Data Science: Open Source Projects Data Set for Climate projects"
### Overview
We want to monitor various open source projects and create a script that will keep our listing up-to-date with information such as last active.

### Action Items
- [x] Add each project's URL to the Project URL column (You can see that if you hover over the Project name and description cells. You can also try to pull it from the Project URLs link in Resources below)
- [x] Create a scri

[2022-03-19 23:05] JessicaLucindaCheng commented on #65
Bonnie wants to discuss this at next meeting
- [ ] For the Website Team, task for data science or research: Take a look at the pre-works for devs to see how long it takes them to do each task in the checklist in a spreadsheet.

[2022-03-21 16:00] ExperimentsInHonesty commented on #46
@akhaleghi I added Ryan's tutorial list to the top section, but I didn't see _Create Data Analysis with R Tutorial_ on there, even though he has made an issue for it.  Can  you talk with him to find out where it sits in the priority list above, and add it?

[2022-03-21 16:05] ExperimentsInHonesty commented on #65
Add this to our next meeting agenda.
- This issue does not need to be on the guide tracker, but the sub issues do #46

[2022-03-24 18:02] mcmorgan27 commented on #148
I have finished the tutorial and completed a github repo to demonstrate some of the ideas.

It is not on the H4LA git but could be moved there.

I believe this issue should be closed?

[2022-03-25 02:57] akhaleghi commented on #137
## 2022-03-17 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [311 Data](https://github.c

[2022-03-25 03:03] kalyaniraman commented on #65
Please add this to the next meeting Agenda with Bonnie
- https://github.com/hackforla/open-community-survey/issues/52#issuecomment-1051281777

[2022-03-25 16:04] mcmorgan27 commented on #148
As per discussion last night this issue is closed.

[2022-03-25 16:08] mcmorgan27 commented on #148
this time i'll close it.

[2022-03-25 16:08] #148 closed

[2022-04-01 02:43] akhaleghi commented on #137
## 2022-03-31 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [311 Data](https://github.c

[2022-04-01 19:15] akhaleghi opened #153 "Create Text Analysis Tutorial"
### Overview
Update the [Text Analysis](https://github.com/hackforla/data-science/wiki/Text-Analysis) page with resources and an article header.

### Action Items
- [ ] Create a Google Doc in the folder provided under resources
  - [ ] Draft an introductory paragraph explaining what the tutorial resources cover and why a new data scientist would use them for working with data at Hack For LA
   - [

[2022-04-01 19:18] akhaleghi opened #154 "CoP: Data Science: Create Data Ops Tutorial"
### Overview
We need to have a Data Ops Tutorial page that will answer any q

### Action Items
- [ ] Create a Google Doc in the folder provided under resources
- [x] Draft an introductory paragraph explaining what the tutorial resources cover and why a new data scientist would use them for working with data at Hack For LA
- [x] Identify resources with vetted tutorials covering important skills wit

[2022-04-01 19:21] akhaleghi opened #155 "CoP: Data Science: Create Stats Tutorial"
### Overview
Update the [Stats](https://github.com/hackforla/data-science/wiki/Statistics) page with resources and an article header.

### Action Items
- [x] Create a Google Doc in the folder provided under resources
  - [x] Draft an introductory paragraph explaining what the tutorial resources cover and why a new data scientist would use them for working with data at Hack For LA
   - [x] Identify

[2022-04-01 19:24] akhaleghi opened #156 "CoP: Data Science: Create Machine Learning Tutorial"
### Overview
Update the [Machine Learning](https://github.com/hackforla/data-science/wiki/Machine-Learning) page with resources and an article header.

### Action Items
- [x] Create a Google Doc in the folder provided under resources
  - [x] Draft an introductory paragraph explaining what the tutorial resources cover and why a new data scientist would use them for working with data at Hack For LA

[2022-04-01 19:26] akhaleghi opened #157 "CoP: Data Science: Create Deep Learning Tutorial"
### Overview
Update the [Deep Learning](https://github.com/hackforla/data-science/wiki/Deep-Learning) page with resources and an article header.

### Action Items
- [x] Create a Google Doc in the folder provided under resources
  - [x] Create preliminary outline
  - [x] Identify resources with vetted tutorials covering important skills within the tutorial area, adding to the draft
  - [x] Draft an

[2022-04-01 19:46] akhaleghi commented on #65
## 2020-03-31 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/149)
   - [ ] Add size label to #27 at meeting
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval

[2022-04-01 19:46] akhaleghi commented on #149
Date: 2021-03-31

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 0/0
   - [x] project, ending at 0/0
   - [x] role, endin

[2022-04-01 21:21] ExperimentsInHonesty commented on #147
@jonmelvin
Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate

[2022-04-01 21:27] ExperimentsInHonesty commented on #44
Abe and Bonnie will clean this issue up.  Objective is that this spreadsheet  [OCS: Builtwith data on 99 NCs technologies](https://docs.google.com/spreadsheets/d/1gvlBd-tragQmT1oblX560-EWbDXYzrcqVDUhyIzHWa0/edit#gid=1851194011&fvid=408368447) will have the data on the NCs that is needed for understanding what they use tech for.

[2022-04-01 22:23] jonmelvin commented on #147
See the DM.  Provided database turotial in word doc format.  GitHub had how to use
various open source systems, not quite what I provided, so did not provide it there.
Project status: Done.

From: Bonnie Wolfe ***@***.***>
Sent: Friday, April 1, 2022 2:22 PM
To: hackforla/data-science ***@***.***>
Cc: Jon Melvin ***@***.***>; Mention ***@***.***>
Subject: Re: [hackforla/data-science] Create Data E

[2022-04-02 01:37] SANJCA commented on #154
Kindly unsubscribe from this email thread

On Sat, Apr 2, 2022 at 12:48 AM Abe ***@***.***> wrote:

[2022-04-08 01:23] akhaleghi commented on #147
Hey Jon, where do you have the Word doc with the data engineering tutorial? Do you need help getting the text posted to the GitHub site?

[2022-04-08 01:24] akhaleghi commented on #146
Hey @henrykaplan , are you still working on this tutorial or should we put it back in the backlog to have someone else pick it up?

[2022-04-08 01:26] akhaleghi commented on #145
hey @alshap1010 , wanted to follow up and see if this tutorial was done or if there were still things you wanted to add.

[2022-04-08 01:28] akhaleghi commented on #144
Hey @scho-git , this tutorial looks great. Would it be ok if we reviewed it at the next community of practice meeting on 4/14 and, if there isn't anything else to add, close this issue?

[2022-04-08 01:30] akhaleghi commented on #26
Hey @snooravi, this issue hasn't had any updates for a few months, so please provide updates to any of the following that are applicable:

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this is

[2022-04-08 01:32] akhaleghi commented on #36
Hey @AlbertUlysses and @KarinaLopez19, please provide any appropriate updates on this issue in the comments, since we haven't had anything documented here for a few months now.

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this i

[2022-04-08 01:36] akhaleghi commented on #119
Hey @henrykaplan, is this issue still actively being worked on? I believe you did your analysis of the pedestrian and bike data when you made the presentation but I wanted to make sure there weren't still action items here that needed to be worked on.

[2022-04-08 01:40] akhaleghi commented on #22
@meganghaz, please provide an update on this issue (or let me know if you are no longer working on it)

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if

[2022-04-08 01:43] akhaleghi commented on #129
@Drew-werD please provide the following updates to this issue:

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will

[2022-04-08 01:43] akhaleghi commented on #136
@Drew-werD please provide any updates to this issue as well.

[2022-04-08 01:44] akhaleghi commented on #107
@priyakalyan please document the following update to this issue in the comments here

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add a

[2022-04-08 16:12] AlbertUlysses commented on #36
Hi @akhaleghi
I don't have any updates - from our last conversations this is the way the project should move forward:
Karina -> add data dict

Team -> reach out to LAANE to see if someone else on our team can do some analysis - last we spoke, Karina suggested that she might take this on.

I don't know Karina's status, but if she's no longer contributing, maybe someone else is interested in taking

[2022-04-08 19:45] akhaleghi commented on #65
## 2020-04-08 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/149)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-04-08 19:50] akhaleghi commented on #149
Date: 2021-04-08

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 1/0
   - [x] project, ending at 0/0
   - [x] role, endin

[2022-04-08 19:52] priyakalyan commented on #107
Progress: I added this file [Progress summary 311 Data Project](https://docs.google.com/presentation/d/1-_aHHT8vqmi9eYivKjLmlZ7MkFUbl-2SDNUFlhEfk7o/edit#slide=id.g11faff46142_0_44l) and data dictionary for 311 data [Value Column 311 data](https://docs.google.com/spreadsheets/d/1R5Dg0rxQoRcFlXukRy4WBpMyJnLbrKe7OeBhJCaWmb4/edit#gid=0) and Metro rail and bus line [Value column Metro- Bus and Rail lin

[2022-04-08 20:40] jonmelvin commented on #147
Attached.  Go ahead and post (or not) as you see fit.

Jon Melvin
***@***.***

From: Abe ***@***.***>
Sent: Thursday, April 7, 2022 6:23 PM
To: hackforla/data-science ***@***.***>
Cc: Jon Melvin ***@***.***>; Mention ***@***.***>
Subject: Re: [hackforla/data-science] Create Data Engineering Tutorial (Issue #147)

Hey Jon, where do you have the Word doc with the data engineering tutorial? Do you ne

[2022-04-08 20:54] akhaleghi commented on #147
@jonmelvin I wasn't able to get your attachment, can you copy and paste the text and images into [this Google document](https://docs.google.com/document/d/1CqEiUtNMs-l83tiIwvciKx9FCkj3fgBhJ-Hmj7kEGFc/edit)?

[2022-04-08 21:08] ExperimentsInHonesty commented on #147
Hi @jonmelvin.  I reworded ([see above](https://github.com/hackforla/data-science/issues/147#issue-1110075821)) the issue a little in order to make it easier to understand how to get us the content you are working on.  Please know that you are not alone, our workflow sometimes seems obvious to those who have been around a while, and it's usually helpful when we are more prescriptive about how to u

[2022-04-08 22:20] mcmorgan27 commented on #36
@Abe Khaleghi ***@***.***>

I was going to check this out.  I've looked at the code but I can't find
the data?  I see a long list of datasets... are they all open data?  Is
there a repository with the csv files?  I suspect I can find many of them,
but ...

Is it better for me to ask these questions on the github issue or here?

Let me know.

- mcm

On Fri, Apr 8, 2022 at 9:12 AM Albert Ulysses ***

[2022-04-08 22:30] AlbertUlysses commented on #36
@mcmorgan27 Data should be in S3 - it's not open data - it's data from LAANE.
I have no knowledge where specifically it's stored- I believe Sophia was the person in charge of storing that data - could be wrong.
Also, I believe that the data wasn't stored more publicly because LAANE had some reservations in that regard.

[2022-04-08 22:48] mcmorgan27 commented on #36
Thanks.   Sounds like data issues, so I'll hold off.

On Fri, Apr 8, 2022 at 3:30 PM Albert Ulysses ***@***.***>
wrote:

[2022-04-15 02:03] akhaleghi commented on #137
## 2022-04-14 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [311 Data](https://github.c

[2022-04-15 03:16] akhaleghi commented on #137
## 2022-04-14 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [311 Data](https://github.c

[2022-04-15 17:24] akhaleghi commented on #65
## 2020-04-15 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/149)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-04-15 17:34] mcmorgan27 commented on #65
Abe. Not sure if Bonnie wants to move tutorial repo to h4la github
https://github.com/researchsherpa/gds-tutorial
  It will still work on my repo.

On Fri, Apr 15, 2022, 10:24 AM Abe ***@***.***> wrote:

[2022-04-15 19:18] akhaleghi commented on #149
Date: 2021-04-15

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 1/0
   - [x] project, ending at 0/0
   - [x] role, endin

[2022-04-15 20:04] akhaleghi commented on #137
## 2022-04-21 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [311 Data](https://github.c

[2022-04-15 20:08] akhaleghi commented on #65
@mcmorgan27 Can we add this to the [Geospatial Data Analysis Tutorial](https://github.com/hackforla/data-science/wiki/Geospatial-Data-Analysis) or is this something that we should add as a standalone repo? If so, I can ask Bonnie to move it over.

[2022-04-15 20:11] mcmorgan27 commented on #65
I think it should be a standalone repo.  I guess you could make it a folder
in the datasci repo, but ... Maybe Ryan or Sophia has an opinion?

On Fri, Apr 15, 2022 at 1:08 PM Abe ***@***.***> wrote:

[2022-04-15 20:23] ExperimentsInHonesty commented on #44
At the top of this issue there was a link for [OCS - NC: Competitive or Comparative Analysis Template] but it went to https://www.sciencedirect.com/science/article/abs/pii/S0161642016307321, which is clearly a mistake, so we removed it.

[2022-04-15 20:51] ExperimentsInHonesty commented on #44
why are we linking to a specific branch in our repo?  [Selenium Scraping Tools - see branch](https://github.com/hackforla/data-science/tree/selenium)

There is a link in the above section [Tutorial on how to do it, made by Sophia](https://drive.google.com/drive/folders/1Y9Y4C5z-9xrVo4PIyCM6hnECwl61uF01?usp=sharing) but it says that I need to request access, please talk to her about it.

[2022-04-28 02:07] ExperimentsInHonesty commented on #65
you might want to check this out https://github.com/data4goodlab

[2022-04-29 02:14] akhaleghi commented on #137
## 2022-04-28 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [311 Data](https://github.c

[2022-04-29 03:19] ExperimentsInHonesty commented on #146
Henry said at the meeting he is going to start this on 2022-05-02 with anticipated ETA of 2022-05-12

[2022-04-29 03:20] ExperimentsInHonesty commented on #145
@alshap1010  Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrat

[2022-04-29 03:22] ExperimentsInHonesty commented on #144
This needs a peer review.

[2022-04-29 03:26] ExperimentsInHonesty commented on #36
We are going to close this issue.  Can be reopened or referred to if stakeholder reaches back out to us.  He has not responded to our requests for addional engagement.

[2022-04-29 03:38] ExperimentsInHonesty commented on #22
@meganghaz, Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate

[2022-04-29 03:42] ExperimentsInHonesty commented on #129
@Drew-werD please provide the following updates to this issue:

Progress: "What is the current status of your project? What have you completed and what is left to do?"
Blockers: "Difficulties or errors encountered."
Availability: "How much time will you have this week to work on this issue?"
ETA: "When do you expect this issue to be completed?"
Pictures (if necessary): "Add any pictures that will

[2022-04-29 03:42] ExperimentsInHonesty commented on #136
@Drew-werD Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustrate

[2022-04-29 03:47] ExperimentsInHonesty commented on #145
It looks a bit bare bones.  Do you intend to keep working on it, or would you like to pass it off to someone else?

[2022-04-29 04:16] ExperimentsInHonesty commented on #45
static mapping use geopandas
if interactive use folium

[2022-04-29 04:23] ExperimentsInHonesty commented on #45
@mcmorgan27 is available to help if you need.  He wrote the geospatial tutorial.

[2022-04-29 04:25] priyakalyan commented on #107
Progress: Was successful in installing the docker but could not set up a local 311 data server (tried many times- the last step in [Step 3: Build and seed your local database](https://github.com/hackforla/311-data/blob/dev/docs/server_setup.md#step-3-build-and-seed-your-local-database) failed. Any suggestions/pointers? For now, I have stopped working on it. Downloaded data from this [website](http

[2022-05-02 19:25] willa-mannering commented on #144
Reviewed the tutorial, looked good except it was missing 2 links that I added. Should be ready to add to the wiki now.

[2022-05-03 04:20] akhaleghi commented on #136
@Drew-werD we haven't heard any updates on this issue so we're going to move it back into the backlog to be reassigned. Please ping me if you want to work on it again.

[2022-05-03 04:22] akhaleghi commented on #129
@Drew-werD there haven't been any updates on this issue, so we're going to move it to the backlog to be reassigned. Let me know if you'd like to continue working on it.

[2022-05-03 04:26] akhaleghi commented on #22
@meganghaz There haven't been any updates on this issue so we're going to move it to the backlog. Let me know if you'd like to continue working on it.

[2022-05-03 20:58] akhaleghi commented on #65
## 2020-03-31 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/149)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-05-03 21:00] akhaleghi commented on #149
Date: 2021-05-03

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 0/0
   - [x] project, ending at 0/0
   - [x] role, endin

[2022-05-03 21:34] ExperimentsInHonesty commented on #119
This issue has been replaced by https://github.com/hackforla/data-science/issues/108

[2022-05-03 21:34] #119 closed

[2022-05-03 21:36] ExperimentsInHonesty commented on #108
Next Steps
- [x] Bonnie writes to Dan Kagel copying Abe.  Sent 2021-011-12
[code]

Bonnie followed up on the 2022-12-02
[code]
Dan wrote back on 2022-12-02
[code]

[2022-05-03 21:45] akhaleghi commented on #65
## 2020-05-06 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/149)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-05-03 21:48] ExperimentsInHonesty commented on #108
@henrykaplan I closed issue #119 and combined everything into this issue and sent Dan the slides for him to review so that he can figure out if they have the interest in us making a presentation and continuing the work.

[2022-05-04 04:22] henrykaplan commented on #140
For consistency, I reorganized the logo folder in the repo to tie the folder to the files in Hack for LA's shared google drive. There's now a readme with links to the google files, and png and svg versions of the google files. [Just put in a PR now.](https://github.com/hackforla/data-science/pull/158).

[2022-05-05 17:58] akhaleghi commented on #147
@jonmelvin thanks for your work on this. I posted the tutorial [here](). I looked over this and one thing appears to be missing. Under "Schema and Entity-Relation Diagrams" there wasn't anything in the Google Doc for the example. If that is an image or a table, could you send attach it to a comment here?

[2022-05-05 18:10] #144 closed

[2022-05-05 18:24] jonmelvin commented on #147
Sorry about that.  I just took one  from the web.  One is attached.

Jon Melvin
***@***.***

From: Abe ***@***.***>
Sent: Thursday, May 5, 2022 10:59 AM
To: hackforla/data-science ***@***.***>
Cc: Jon Melvin ***@***.***>; Mention ***@***.***>
Subject: Re: [hackforla/data-science] Create Data Engineering Tutorial (Issue #147)

@jonmelvin<https://github.com/jonmelvin> thanks for your work on this. I

[2022-05-05 20:49] akhaleghi commented on #137
## 2022-05-05 Meeting Agenda (Leadership only)

### Prework to prep for meeting

### Recurring items:

### New Items
- [ ] Review #44 (Rajinder's scripts) to determine next steps on this issue so we can add to backlog
- [ ] Determine where to put Mike Morgan's repositories on our GitHub. He has given us permission to do so.
    - [ ] [Graffitti visualizations](https://github.com/researchsherpa/gra

[2022-05-06 04:01] akhaleghi commented on #44
Update: Messaged Rajinder to get him to update the files in the data science repository.

[2022-05-06 19:49] akhaleghi commented on #149
Date: 2021-05-06

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 0/0
   - [x] project, ending at 0/0
   - [x] role, endin

[2022-05-06 20:50] ExperimentsInHonesty commented on #2
How to pitch us a project
Why you should pitch us a project
completed projects
Volunteer with us
about the DS team
Tutorials and Guides

[2022-05-06 21:58] ExperimentsInHonesty commented on #2
@akhaleghi I turned the above into new content on the [wiki](https://github.com/hackforla/data-science/wiki) and filled it out to the best of my ability.  I recommend you making issue for the stuff that's missing (Ryan's and your bios's, etc.)

Re the member highlights.  I realized we have a place for that already and we just need to make an issue for getting people from the Data Science community

[2022-05-07 16:33] mcmorgan27 commented on #137
Abe - You may want to consider including
https://github.com/researchsherpa/gds-tutorial on your github?  It is the
code examples that go with the geospatial tutorial.

On Thu, May 5, 2022 at 1:49 PM Abe ***@***.***> wrote:

[2022-05-12 18:47] priyakalyan commented on #107
Progress: Finally figured out to how to use paginated API's with python to fetch all rows of data from the [311 server](https://dev-api.311-data.org/docs#/default/get_all_service_requests_requests_get) for the year 2021. I have saved it as a CSV file-[clean_311_data_2021](https://drive.google.com/file/d/1OBUZ_W23NUaSeWzYL_QxXEPvh6wH1CZN/view?usp=sharing). I will fetch the clean data rest of the ye

[2022-05-12 20:56] akhaleghi commented on #147
Closing issue because this is complete.

[2022-05-12 20:56] #147 closed

[2022-05-12 20:57] akhaleghi commented on #146
Hey @henrykaplan is the ETA for this web scraping still today (5/12/22)?

[2022-05-12 20:59] akhaleghi commented on #26
@henrykaplan do you have an ETA for the dashboard? It seems like a bigger task so I just want to make sure you don't have any blockers for this.

[2022-05-12 21:05] akhaleghi commented on #45
Hi @KathrynPanger I wanted to check-in and see if you could update your progress on the Native Land Attribution issue here.

[2022-05-12 21:05] akhaleghi commented on #137
## 2022-05-12 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [311 Data](https://github.c

[2022-05-12 21:16] henrykaplan commented on #146
@akhaleghi No, I've been prioritizing it below the SEIE work. I can aim to have this by May 26 or we could reassign it if that would be faster.

[2022-05-12 21:20] KathrynPanger commented on #45
Don't worry, I'm still working in it. I got COVID. I'll be fine but
recovery is slow.

On Thursday, 12 May 2022, Abe ***@***.***> wrote:

[2022-05-12 21:21] henrykaplan commented on #26
@akhaleghi No blockers on this. The idea is that it will just be a display of the work I’ve done so far, so I won’t need anything from anyone else to complete it. Let’s tentatively say June 2nd as the ETA for a first draft.

[2022-05-13 02:17] akhaleghi commented on #126
Hi @scho-git, is this issue complete? I know you self assigned this but it was never moved to be an issue in progress.

[2022-05-13 04:16] mcmorgan27 commented on #45
@KathrynPanger

So the link for the json files - https://native-land.ca/resources/api-docs/

Jurisdiction boundary files - https://data.lacounty.gov/GIS-Data/City-Boundaries/wyja-ysz2

Build two data frames and use <geodataframe>.explore method

Figure out how to use geopandas spatial join to see which polygons intersect (city of la and territories)

...

[2022-05-16 23:31] gregpawin opened #161 "Project Name: Lucky Parking"
Volunteer Opportunity:

[2022-05-17 21:49] willa-mannering commented on #44
Updated the files in the data science repo. The scraper now produces a table including tech categories, tech urls, and total usage count of each tech (total_count). Linked new output as google sheet in readme.

[2022-05-19 04:30] akhaleghi commented on #146
@henrykaplan Just checking in for a weekly update. Is this tutorial still on track for 5/26?

[2022-05-19 04:38] akhaleghi commented on #126
Hi @scho-git wanted to check-in to see if this issue is complete or needs to be returned to the backlog

[2022-05-19 07:21] scho-git commented on #126
Hi @akhaleghi , the issue is not fully complete as I still had some questions and also haven't had the time to work on this, sorry! I've unassigned myself

[2022-05-19 20:12] akhaleghi commented on #137
## 2022-05-19 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [311 Data](https://github.c

[2022-05-19 21:13] priyakalyan commented on #107
Progress:

- Created heat map using folium for the request type- Single streetlight issue (SSI) and multiple street light issue over the reg 6 for the year 2021;
- Could add all the years of data (2015-2021) for the reg 6 and req type: SSI as layers on the same map and toggle between the layer control to jump from one feature to the next
   one.
- Successful in setting up geofencing (a block in ra

[2022-05-20 04:33] henrykaplan commented on #146
@akhaleghi Yup, still on track for 5/26

[2022-05-20 08:28] KathrynPanger commented on #45
I do not yet have permission to push code here, so I forked the repo [here](https://github.com/KathrynPanger/native-land-attribution).

My goal is to create a map with three layers: 1) territories taken from the native-land api, 2)LA city boundaries, and 3)a background map. I have created two code structures to achieve this. The first is a set of three python files designed to create a layered "pr

[2022-05-20 19:38] akhaleghi commented on #65
## 2020-05-20 Meeting Agenda

### Prework to prep for meeting
- [ ] [Audit](https://github.com/hackforla/data-science/issues/149)
- [ ] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-05-20 19:47] akhaleghi commented on #149
Date: 2021-05-06

- [ ] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
   - [ ] There was an issue with no labels and no description that we need to discuss.
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/

[2022-05-21 00:39] ExperimentsInHonesty commented on #65
This was written by a hfla member and we used to use it all the time.  Please find a place for it in the wiki https://github.com/ndanielsen/intro-python

[2022-05-23 20:15] nichhk commented on #107
The team discussed this last Thursday, so I'll leave some notes for the record:

I think it would be useful to have a histogram where the x axis is "distance from nearest bus stop/metro rail marker/etc." and the y axis is "number of requests". This will allow us to very clearly see whether there is some correlation between nearness to bus stops and 311 requests.

[2022-05-26 06:46] piotrsan commented on #150
I identified what I think is the source code for the graph:
https://github.com/piotrsan/311-data/blob/dev/server/dash/dashboards/neighborhood.py

I don't understand what the variable nc_avg means as it seems to be the total request for a certain date divided by an arbitrary 99. I would welcome any suggestions on what the variable avg_count could mean in the above code.

I created a pull request to

[2022-05-26 07:07] piotrsan commented on #150
Update:

Given that there are 99 neighborhood councils in LA county, I think nc_avg is the total number of requests in a day divided by the number of councils. It would be helpful to discuss what is the purpose of such a metric in the current visualization. I see the purple line change when switching between councils, however I think it is because the scale of the graph changes based on the specif

[2022-05-26 18:11] willa-mannering commented on #44
Added new spreadsheet to OCS folder and updated project wiki page

[2022-05-27 02:04] pras4u commented on #150
Labels - Instead of counts, use 'Count of 311 requests' ; 'nc_avg' use 'Neighborhood Council Average'

Also add a view by week  or month or year

[2022-05-27 02:45] akhaleghi commented on #137
## 2022-05-26 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [Lucky Parking](https://git

[2022-05-27 03:06] priyakalyan commented on #107
Used the haversine formula- (great-circle distance) to calculate the distance between each request type-lat, long and metro rail stop. For each request type, found out the distance from the nearest metro rail marker. All this was done for reg6 - year 2021 and request type- Single Streetlight Issue.

As discussed in the last 311 team meeting, here is the histogram plot:

![Histogram_reg6_ssi_2021_1

[2022-05-27 03:30] JasonEb commented on #160
Github Project REST API : https://docs.github.com/en/rest/projects

[2022-05-27 04:19] rbianchetti commented on #160
Tks for sharing the API doc, I'll check it out!

On Thu, 26 May 2022 at 20:30, Jason E ***@***.***> wrote:

[2022-06-01 19:51] henrykaplan commented on #146
I've added the section we talked about in the May 26 meeting, recommendations for web scraping responsibly. The draft is ready to review.

[2022-06-01 19:54] henrykaplan commented on #146
I've also taken APIs out of the description of the issue - that's a big enough topic that it should probably have its own tutorial.

[2022-06-02 05:30] nichhk commented on #107
Thanks Anupriya! Sorry for the delay. What do you make of this graph? To me, it seems to suggest that there is not a strong association between distance to nearest metro stop and request frequency--I'd expect to see a (basically) monotonically decreasing histogram, implying that there are a lot of requests close to metro stops but just a few far from metro stops. But maybe a request type like graf

[2022-06-03 17:45] akhaleghi commented on #135
Hi @Michaeldavidng are there any updates on this issue?

[2022-06-03 17:52] akhaleghi commented on #26
Hey @henrykaplan can we review this first draft at our next community of practice meeting on June 9th?

[2022-06-03 17:54] henrykaplan commented on #26
@akhaleghi Yes, let's plan on that.

[2022-06-03 17:55] akhaleghi commented on #45
Hi @KathrynPanger were you able to get the zooming problem resolved? Any other updates to this issue?

[2022-06-03 17:56] akhaleghi commented on #135
Hey @Michaeldavidng are you still working on this issue or should I return it to the backlog to be reassigned to another volunteer?

[2022-06-03 17:57] akhaleghi commented on #150
Hi @piotrsan @pras4u were you guys able to get that changed in the project files?

[2022-06-03 17:58] akhaleghi commented on #44
Hi @willa-mannering are there any updates to the issue for this week?

[2022-06-03 18:07] akhaleghi commented on #149
Date: 2021-06-03

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 1/1
   - [x] project, ending at 1/1
   - [x] role, endin

[2022-06-03 18:07] willa-mannering commented on #44
No new updates for this issue, it should be finished now.

[2022-06-03 18:15] piotrsan commented on #150
Hi @akhaleghi,

yes I was able to generate the different averages and change the labels to the graph. I need to know create the dropdown.

I still need a bit of help in understanding how to push changes I made for revision. Currently I cloned the 311-data repo to my GitHub. Should I generate a pull request of the file that I have been working on?

I was only able to visualize two months worth of d

[2022-06-03 18:23] akhaleghi opened #162 "CoP: Data Science: Complete Intro to Python Tutorial"
### Overview
We want to move an existing Hack for LA tutorial to our repository

### Action Items
- [ ] fork the repository to Hack for LA
- [ ] Look through the repository and our tutorial page to see what content needs to be added
- [ ] Fork repo to your github, using hackforla's version as the upstream
- [ ] Add content to tutorial
- [ ] Commit it to our repo
- [ ]  reach out to Nathan on this

[2022-06-03 18:26] akhaleghi opened #163 "CoP: Data Science: Complete Intro to Command Line and Git Tutorial"
### Overview
We want to move an existing Hack for LA tutorial to our repository

### Action Items
- [ ] Look through the repository to see what content needs to be moved to the tutorials page
- [ ] Add content to tutorial

### Resources/Instructions
[Original repository](https://github.com/hackforla/intro-cli-git-github)
[Data Science Command Line and Git Tutorial Page](https://github.com/hackforl

[2022-06-03 18:31] akhaleghi commented on #65
## 2020-06-03 Meeting Agenda

### Prework to prep for meeting
- [x] [Audit](https://github.com/hackforla/data-science/issues/149)
- [x] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-06-03 20:11] akhaleghi commented on #161
@gregpawin can you provide more information about this issue and add it to our open roles board [here](https://github.com/hackforla/data-science/issues/65#issuecomment-1146249994)?

[2022-06-03 23:13] gregpawin commented on #161
I think that prior to creating this [volunteer opportunity](https://github.com/hackforla/data-science/projects/2#card-82011542) I accidentally turned it into an issue. I didn’t realize that this issue still existed and needed to be removed. Apologies!

[2022-06-03 23:13] #161 closed

[2022-06-10 02:51] akhaleghi commented on #137
## 2022-06-09 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers
   Data Scientist
      - [Survey of Labels](https://github.com/hackforla/data-science/projects/2#card-77893707)
   Data Analyst
      - [Lucky Parking](https://git

[2022-06-11 15:48] ExperimentsInHonesty commented on #44
@willa-mannering We just looked at the results and it looks like we will need to dive deeper into the results that come back for framework.  For instance

When clicking on

Organization Schema | https://trends.builtwith.com/framework/Organization-Schema | framework
The section with a red outline tells us what we need to know about the framework.  In this instance,  it's schema.org
<details>
<summa

[2022-06-14 17:48] Michaeldavidng commented on #135
Just noting that I have completed this issues. Not every city had an official website. Not every city website had a 311 portal. Additionally, not every 311 portal had a useable dashboard or map.

[2022-06-17 02:37] akhaleghi commented on #137
## 2022-06-16 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers

### New Items
- [ ] Sophia to discuss how to avoid pushing private content (passwords, tokens, etc.) to GitHub repositories.

### FYIs

### Meeting Notes

### Task

[2022-06-17 03:41] priyakalyan commented on #107
Have been trying to figure out how to get the population of each neighborhood council so that we can figure out the population density and so on. As @piotrsan mentioned in another issue-[#1229](https://github.com/hackforla/311-data/issues/1229), here is the [census data](https://data.lacity.org/Community-Economic-Development/Census-Data-by-Neighborhood-Council/nwj3-ufba) for the NC.

I also found

[2022-06-17 03:47] rbianchetti commented on #160
A Jupiter notebook has been pushed to 160-survey-repo-labels branch with the analysis of the most popular labels.

[2022-06-17 18:45] willa-mannering commented on #44
Potential additional information I can collect from each tech type includes: subcategories (i.e. WordPress Theme), tech description, tech website link, number of sites currently using tech, and competing/similar techs.

[2022-06-17 19:30] akhaleghi commented on #149
Date: 2021-06-17

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 1/1
   - [x] project, ending at 1/1
   - [x] role, endin

[2022-06-17 19:45] akhaleghi commented on #65
## 2020-06-17 Meeting Agenda

### Prework to prep for meeting
- [x] [Audit](https://github.com/hackforla/data-science/issues/149)
- [x] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [ ] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-06-19 21:31] JasonEb commented on #160
https://github.com/hackforla/data-science/tree/160-survey-repo-labels/labels-survey Apparent survey results

[2022-06-20 19:41] ambersu123 commented on #44
Pull all the additional info available with the script and then decide what information is needed in the future meeting

[2022-06-22 01:55] natalie-lim commented on #124
(incomplete will edit later):

How often do the boundaries change for the different district types?
**Neighborhood Councils (NCs)**
- Issue: neighborhoods/counties/etc are redistricted with the census, and since neighborhood councils are still a part of state government it would be reasonable to assume that their borders also change with the census. However, I couldn’t find anything that explicitl

[2022-06-30 00:49] akhaleghi commented on #124
@natalie-lim Thanks so much, this is exactly what we need. I'm going to move this over to the backlog so someone else can pick up the next task of developing a policy to update our files.

[2022-06-30 00:51] akhaleghi commented on #44
@willa-mannering @ambersu123 are there updates on what additional information needs to be pulled with this script?

[2022-06-30 00:51] akhaleghi commented on #45
@KathrynPanger are you still working on this issue?

[2022-06-30 00:52] akhaleghi commented on #26
@henrykaplan are there any recent updates on this issue?

[2022-07-01 02:10] willa-mannering commented on #44
No decision on what additional info to pull. I've written a script to pull all options mentioned in my previous comment and am now waiting on input from the OCS team.

[2022-07-01 02:43] akhaleghi commented on #137
## 2022-06-21 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers

### New Items
- [ ] Sophia to discuss how to avoid pushing private content (passwords, tokens, etc.) to GitHub repositories.

### FYIs

### Meeting Notes

### Task

[2022-07-01 02:44] akhaleghi commented on #137
## 2022-06-30 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers

### New Items

### FYIs

### Meeting Notes

### Tasks from meeting

[2022-07-08 19:34] akhaleghi commented on #149
Date: 2021-07-08

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 0/1
   - [x] project, ending at 0/1
   - [x] role, endin

[2022-07-08 19:49] akhaleghi commented on #65
## 2020-07-08 Meeting Agenda

### Prework to prep for meeting
- [x] [Audit](https://github.com/hackforla/data-science/issues/149)
- [x] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
 - [x] Review any issues that are in the [new issue approval column](https://github.com/hackforla/data

[2022-07-08 20:08] akhaleghi commented on #160
@rbianchetti hey, I noticed that you had the output for this script in a csv file. Can we have these put into a Google Sheets document so that other teams can more readily access the data through a web browser?

[2022-07-09 15:13] ExperimentsInHonesty commented on #44
@willa-mannering you said

OCS team said this in response

So to be clear, we are saying yes, please pull all the information you said you could pull.

@akhaleghi please add this as a recurring reporting item to our DS/Org agenda

[2022-07-09 15:59] ExperimentsInHonesty commented on #44
@willa-mannering It looks like this got discussed at a meeting but never annotated on this issue, that we only need the above subcatagories for the items marked TRUE in the [OCS: Builtwith tech_table, tech_categories](https://docs.google.com/spreadsheets/d/1IDpVrv6kr06nvbr3nI09933gFdePukhvB5J39XruwAA/edit#gid=1075151065)

[2022-07-11 15:33] rbianchetti commented on #160
Thanks! I've added the Jupyter notebook with the analysis to the folder.

[2022-07-11 20:49] willa-mannering commented on #44
Added new sheet to OCS table (more_info_tech) including the additional information for the designated categories via the tech_categories sheet.

[2022-07-13 03:28] akhaleghi commented on #160
Thanks so much Ren!

@rbianchetti @codemamma One thing that will be helpful is if we could get the script to break down counts of unique labels like the highlighted column in [this document](https://docs.google.com/spreadsheets/d/1DV9Q0DeIFqSQyQb-QEX1B7gHijNmh8Ue4OVKgf16ZYM/edit#gid=244294355) I wrote a script and used it on just the size labels to show what we need.

Basically, we want to do a gr

[2022-07-13 03:54] codemamma commented on #160
Thank you Abe!
I will work on it.
I have also split the labelname column and will do some cleanup on the csv
file (output file ) for projecting the label usage question( which has
repetitive label names) for now.

Manisha

On Tue, Jul 12, 2022 at 8:28 PM Abe ***@***.***> wrote:

[2022-07-14 21:50] priyakalyan commented on #107
Have calculated the population of each neighborhood council using the [census tract 2020](https://www2.census.gov/geo/tiger/TIGER2020PL/STATE/06_CALIFORNIA/06037/) (TIGER/line shapefile 2020), updated [NC shape file]() (99 councils) and the ACS 2020 demographics data at the tract level. No approximation was made in the geometry this time. Found the percentage of area/population for tracts intersec

[2022-07-15 02:33] akhaleghi commented on #137
## 2022-07-14 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers

### New Items
- [ ] Take picture of Zoom meeting like [this](https://docs.google.com/presentation/d/1UDHwTQ1C3y01CiNS0mvPjNBHJFlm2Txs/preview)

### FYIs

### Meeti

[2022-07-15 16:58] akhaleghi opened #169 "Potential Projects: California Grants Portal"
### Dependency
- [x] EDA on a data set in progress

### Overview
We want to explore this data set to determine if it is something we can build a public resource for.

### Action Items
- [x] Find available data sources and add to Resources section
- [ ] Determine is this is one-time or ongoing project (and assign appropriate label)
- [ ] Write one-sheet (see Resources below)
   - [ ]  Define stakeh

[2022-07-15 17:08] akhaleghi opened #170 "California Grants Portal Data Set EDA"
### Overview
We want to analyze the California Grants Portal Dataset to determine the feasibility of building a tool for public use.

### Action Items
- [x] Perform exploratory data analysis [EDA] on the Grants Portal dataset.
   - [x] See EDA section of tutorial [here](https://github.com/hackforla/data-science/wiki/Intro-to-Data-Analysis-With-Python)
- [x] Attach findings (write-ups, notebooks, e

[2022-07-15 19:36] akhaleghi commented on #149
Date: 2021-07-15

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
   - Yes, added a few new issues that I needed to add missing labels for until I add the new ones.
- [x] Report what the numbers are on issues that are missing labels (e.g., size, e

[2022-07-15 19:45] akhaleghi commented on #65
## 2020-07-15 Meeting Agenda

### Prework to prep for meeting
- [x] [Audit](https://github.com/hackforla/data-science/issues/149)
- [x] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
- [ ] Updates from CoP meeting
- [ ] New Members and what they're interested in or assigned to:
   - J

[2022-07-18 20:06] willa-mannering commented on #44
Need to pull additional data to determine which NC websites are using wordpress, then think of good questions to investigate further based on additional data collected (i.e. how do NC websites use certain technologies?)

[2022-07-22 00:12] akhaleghi commented on #137
## 2022-07-21 Meeting Agenda

### Prework to prep for meeting

### Recurring items:
- [ ] Introductions for new members
- [ ] Review Items In Progress
- [ ] Review cards for projects that are ready be assigned for interested volunteers

### New Items
- [ ] See if #169 is being worked on and, if not, try to assign it to a volunteer.

### FYIs

### Meeting Notes

### Tasks from meeting

[2022-07-22 02:53] jossus657 commented on #170
[California_Grants_Dataset_EDA.pdf](https://github.com/hackforla/data-science/files/9164149/California_Grants_Dataset_EDA.pdf)

[2022-07-26 02:45] priyakalyan commented on #107
Worked on this [notebook](https://github.com/priyakalyan/Updated_NC_pop/blob/main/NC_pop_recent.ipynb)- to find the updated population of the LA city neighborhood councils using geospatial analysis. Next- add a notebook- comparing the updated NC population obtained by geospatial analysis and arcGIS analysis.

[2022-07-28 03:11] codemamma commented on #160
Attached, please find the csv file you requested.
Sorry for the delay because of family trips, I was out of town.
Let me know if this looks right to you!

On Tue, Jul 12, 2022 at 8:53 PM Manisha Yadav ***@***.***>
wrote:

[2022-07-29 05:25] parcheesime commented on #146
Hello @henrykaplan,
I'm new to HFLA and glad to be here, Abe invited me to this project. I read the doc and thought I could build on it by making quick how-to-video- tutorials from simple to more complex, I'd keep them around 10 minutes.  Let me know if/how we can use it. Here's the [code I am working](https://github.com/parcheesime/webscraper-tutorial) on and I'll give updates on videos too.

[2022-07-30 03:02] henrykaplan commented on #146
That sounds great to me!

[2022-08-01 16:32] akhaleghi commented on #160
@codemamma Hi Manisha, where did you put the csv files?

[2022-08-01 17:51] codemamma commented on #160
[size_label.csv](https://github.com/hackforla/data-science/files/9236072/size_label.csv)
[role_label.csv](https://github.com/hackforla/data-science/files/9236074/role_label.csv)
[p-feature_label.csv](https://github.com/hackforla/data-science/files/9236075/p-feature_label.csv)
[feature_label.csv](https://github.com/hackforla/data-science/files/9236076/feature_label.csv)

[2022-08-01 17:54] codemamma commented on #160
I am trying to upload the csv files on shared drive but  I do not have access so, requested the access.

[2022-08-01 18:50] codemamma commented on #160
[
](https://drive.google.com/drive/u/0/folders/1l8bMfhmUPG1O3nCLgvIE7jd_HlqAIb1s)

[2022-08-01 20:23] akhaleghi commented on #160
Thanks @codemamma

[2022-08-01 20:31] akhaleghi commented on #160
@codemama One more question. Does the GitHub API allow you to obtain the hex code of the color of the labels?

[2022-08-01 23:32] codemamma commented on #160
No.

[2022-08-02 17:47] akhaleghi commented on #160
@ExperimentsInHonesty Please see [combined_csv](https://docs.google.com/spreadsheets/d/1KOCPa4KPE9GPwVdwkUCyvXwLLqUF2TP2rDlOodN62xc/edit#gid=0). The feature, p-feature, size, and role labels are separated into different sheets and ready for the Ops team to analyze.
@codemama there are still some label types (i.e. "epic: ____ " "guide: ____" etc.) that we need to look at. Is there a single csv that

[2022-08-02 20:24] codemamma commented on #160
Yes @akhaleghi. I tried to push the notebook yesterday along with all the csv files and there is distinct labels csv( list of all 326 labels )and can be combined to get more refined results. I had authentication problem while pushing so,I am coordinating with @salice to do it tonight.

[2022-08-02 20:31] codemamma commented on #160
[label.csv](https://github.com/hackforla/data-science/files/9245408/label.csv)
here is single csv with all labels @akhaleghi

[2022-08-03 17:48] akhaleghi commented on #160
@codemama thanks Manisha! So one more thing, this csv seems to capture only labels that have colon-separated names (i.e. "size: 2pt", "role: data science", etc) but excludes labels that aren't in that format. For example, in the Data Science repo we have labels for "bug" "dependency" and "enhancement" that don't appear on the list, and I suppose either "Label" or "LabelStatus" would be blank for t

[2022-08-04 00:54] codemamma commented on #160
I can check and see if If I can filter it out @akhaleghi

[2022-08-05 00:07] willa-mannering commented on #44
Added new table ranking technologies by number of live sites to OCS Google sheet. Still working on pulling data to figure out which techs use WordPress.

[2022-08-07 20:21] willa-mannering commented on #44
Added new table to OCS google sheet with info on which NC sites use Wordpress. Some NC sites were no longer accessible (for example, svanc.org)

[2022-08-08 19:48] kalyaniraman commented on #44
Need to figure out from stand point of making actionable information for the NC's.
- Want to know where they stand against other NC's
- Want to see where they are against normal websites
- Stakeholder want to know what the health of the network is

[2022-08-09 03:18] ExperimentsInHonesty commented on #45
@KathrynPanger Please provide update
1. Progress: "What is the current status of your project? What have you completed and what is left to do?"
2. Blockers: "Difficulties or errors encountered."
3. Availability: "How much time will you have this week to work on this issue?"
4. ETA: "When do you expect this issue to be completed?"
5. Pictures (if necessary): "Add any pictures that will help illustr

[2022-08-12 01:42] priyakalyan commented on #107
Have updated the [notebook](https://github.com/priyakalyan/Updated_NC_pop/blob/main/NC_pop_recent.ipynb). The total population of LA city NCs is very close to the 2021 [Census Bureau](https://www.census.gov/quickfacts/losangelescitycalifornia?) value. Have also been working on this [PR](https://github.com/hackforla/311-data/pull/1257)- API pagination using python- to fetch all rows of data from 31

[2022-08-12 03:25] jossus657 commented on #170
[California_G… (auto-x _ 2) - JupyterLab.pdf](https://github.com/hackforla/data-science/files/9313475/California_G.auto-x._.2.-.JupyterLab.pdf)

[2022-08-13 01:56] parcheesime commented on #146
Hello @ryanmswan and @henrykaplan

Here's an update on the [code I am working](https://github.com/parcheesime/webscraper-tutorial) for code review. Part 1 and part of Part 2 are done. For now, these tutorials will only focus on Python and its packages, as referred to in the documentation.

[2022-08-16 20:17] akhaleghi commented on #169
Currently EDA in progress: #170

[2022-08-16 20:19] akhaleghi commented on #160
@codemama were you able to filter out those existing labels?

[2022-08-16 20:21] akhaleghi commented on #45
@KathrynPanger I am going to return this to the backlog. Let me know if you'd like to resume work on this at any point.

[2022-08-17 22:39] henrykaplan commented on #26
A working draft of the dashboard is here: https://datastudio.google.com/u/0/reporting/45c01785-e1ac-447f-8442-d617e0193d7a/page/Y8wrC

I'll be looking at it again and to edit the text and tweak the visauls, but the calculations and analysis are complete.

[2022-08-19 19:43] akhaleghi commented on #149
Date: 2021-08-19

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
   - Yes, added a few new issues that I needed to add missing labels for until I add the new ones.
- [x] Report what the numbers are on issues that are missing labels (e.g., size, e

[2022-08-19 19:47] akhaleghi commented on #65
## 2020-07-15 Meeting Agenda

### Prework to prep for meeting
- [x] [Audit](https://github.com/hackforla/data-science/issues/149)
- [x] Review the [new issue approval column](https://github.com/hackforla/data-science/projects/1#column-16012595) and clear any issues possible.

### Recurring items:
- [ ] Updates from CoP meeting
- [ ] Review any issues that are in the [new issue approval column](htt

[2022-08-22 06:24] jossus657 commented on #170
Updates (8/18):
- analysis on money per grant by agency
- crated csv files for cleaned datasets
- binary columns created for each unique category

[2022-08-22 19:19] kalyaniraman commented on #44
@willa-mannering Here is the [OCS Google Template](https://docs.google.com/presentation/d/1OsP8zHxaRdAwAaHDL5j7hy8ts9jEowqobKg9Ou1a4qw/edit?usp=sharing) for the presentation -

[2022-08-29 17:01] willa-mannering commented on #44
Updated OCS technology analysis presentation to use correct slide template. Finished Analytics portion, began working on Widgets analysis.

[2022-08-31 16:59] akhaleghi commented on #170
Hey @jossus657, how is your EDA coming along?

[2022-08-31 17:07] akhaleghi commented on #26
Hey @henrykaplan, I think there is just one action item left on this issue (developing a presentation). Is that something you wanted to work on or we can assign that to another volunteer?

[2022-08-31 17:08] akhaleghi commented on #107
Hi @priyakalyan, are there any recent updates to this issue?

[2022-08-31 17:08] akhaleghi commented on #160
Hi @codemamma, are there any recent updates to this issue?

[2022-08-31 23:02] jossus657 commented on #170
Hi! I'm pretty much done with all of the goals I set with my second notebook. I presented last week but forgot to update here, sorry. I'm looking forward to more feedback and direction next meeting!

Updates (8/25):

- Explored distinction between loans and grants
- Polished binary column creating function
- Wrote function to explore grants' descriptions using keyword analysis

[2022-08-31 23:10] priyakalyan commented on #107
I have been working on this PR- https://github.com/hackforla/311-data/pull/1257.

[2022-08-31 23:48] henrykaplan commented on #26
Hey @akhaleghi,

Last I heard, the project leads were leaning towards a write-up rather than a presentation as a final deliverable, but were still undecided about what it should look like. I'm planning to step off this project and on to something else, so I created the google data studio dashboard as the final writeup and results for everything I've personally worked on or know closely. That's mai

[2022-09-14 21:41] henrykaplan commented on #146
I've put the writeup on the wiki page. @parcheesime Feel free to add links & descriptions for your videos and code examples when you're ready.

@akhaleghi Should we close this issue, and create a new issue for the videos and working examples? Let me know.

[2022-09-15 06:14] parcheesime commented on #146
I'm almost finished with the code for the tutorial @ryanmswan and @akhaleghi, I just have one more that I'd like to do then I'll start recording.[ HERE](https://github.com/parcheesime/webscraper-tutorial) are the notebooks for code review.

[2022-09-15 22:45] henrykaplan commented on #140
Merged [the PR](https://github.com/hackforla/data-science/pull/158) and closing this issue

[2022-09-15 22:45] #140 closed

[2022-09-16 17:51] akhaleghi commented on #170
Hey @jossus657 could you attach the latest updates you presented last night to this issue?

[2022-09-16 19:21] akhaleghi commented on #160
To do: Determine if all labels are included in output from 8/2

[2022-09-16 19:24] akhaleghi commented on #45
Hi @zaklang123 can you provide an update on this issue you reopened?

[2022-09-16 19:25] akhaleghi commented on #44
Hey @willa-mannering are there any recent updates to this issue?

[2022-09-16 19:42] akhaleghi commented on #149
Date: 2021-09-16

- [x] Did you have to update the 0/0 links above?  if yes, please say what you did (e.g, Added features to the features check above or added an issue to the project board that has not been added yet).
- [x] Report what the numbers are on issues that are missing labels (e.g., size, ending at 12/5)
   - [x] feature, ending at 0/1
   - [x] project, ending at 2/1
      -  Hold off on

[2022-09-17 00:35] codemamma commented on #160
@akhaleghi, sorry for delayed response. I had trouble with logging in github. I pushed the final notebook 22 days ago with final changes for review. Can you please check if the file is accessible.

[2022-09-17 03:23] jossus657 commented on #170
Updates 9/15;

- created keyword analysis function using yake
- analyzed which two columns were most statistically similar in terms of their keyword analyses

[2022-09-21 17:51] willa-mannering commented on #44
Currently still working on the technology analysis presentation (which has been added as a link to this issue). I'm editing the analytics and widgets sections according to feedback. After that I will start analyzing the content management system section.

[2022-09-30 00:19] zaklang123 commented on #45
Sorry, I just made a mistake and clicked the wrong button.

[2022-09-30 17:28] jossus657 commented on #170
Updates 9/29:

- Started presentation to convey results of the EDA in an accessible and concise way

[2022-10-14 02:41] jossus657 commented on #170
Updates 10/13:

- Presentation completed:
https://docs.google.com/presentation/d/1TL-M1Nsd0WnMkY_ThLH7hS3ibXWFCo6bjW6n43lMsA4/edit?usp=sharing

[2022-10-14 03:13] parcheesime commented on #146
Could anyone please review the tutorials before I record. [HERE](https://github.com/parcheesime/webscraper-tutorial) are the notebooks for code review.

[2022-10-14 03:35] jossus657 commented on #169
[California Grants Exploratory Data Analysis (1).pdf](https://github.com/hackforla/data-science/files/9782267/California.Grants.Exploratory.Data.Analysis.1.pdf)

[2022-10-16 22:31] ExperimentsInHonesty commented on #160
@akhaleghi what is the next step here?  Is there a demo of the data I need to see, will a slide be made, what?

[2022-10-17 19:14] ExperimentsInHonesty commented on #44
Spreadsheet of updated script results sheet we decided we wanted to break down further
Content Management system (cms)
Mobile
SSL
Payment
Framework
Copyright

Further Widget analysis
Which sites are using it, what calendars are used for (events of the NC or local events)
Calendar
Chatbot
Search
Translate widgets (How many of the website had translations software enabled 7% of all sites use it)

[2022-10-20 20:07] akhaleghi commented on #152
Hey @noneill256 I know you've been updating the team at the meetings, but can you also add those to the issue comments here so we can keep those documented?

[2022-10-20 20:12] akhaleghi commented on #160
@ExperimentsInHonesty I believe the next step is for Ops to review the output and decide on standards for using the labels based on the issue (here)[https://github.com/hackforla/ops/issues/15] I'll drop a note in that issue but it looks like no one is assigned to it so not sure if it will be seen.

[2022-10-21 20:24] noneill256 commented on #152
@akhaleghi @ExperimentsInHonesty The scripts are all finished and the columns have been filled. Scripts will be run once a month starting now.

[2022-10-24 19:03] ExperimentsInHonesty commented on #44
@akhaleghi it looks like Willa's update of the script is located in a 311 directory under DS, but it has nothing to do with 311.  Let's sort that out.

[2022-10-28 03:19] akhaleghi commented on #44
@willa-mannering are there any updates on this issue?

[2022-11-08 21:32] #170 closed